<!DOCTYPE html><html lang="en">
<head>
<meta charset="utf-8">
<meta name="format-detection" content="telephone=no">
<title>4.1 New Firms, New Jobs, New Technology, and the Future of Work | 4.1 New Firms, New Jobs, New Technology, and the Future of Work | 4 New Emerging Models | Shaping the Future of Work (15.662x) | MIT OpenCourseWare</title>
<!-- Begin Automatic Metadata Insertion --><meta content="res-15-003-shaping-the-future-of-work-15-662x-spring-2016" name="WT.cg_n">
<meta content="4.1 New Firms, New Jobs, New Technology, and the Future of Work" name="WT.cg_s">
<meta content="" name="Description">
<meta content="Kochan, Thomas A." name="Author">
<meta content="RES.15-003,RES.15,future of work,work,labor,career,opportunities,next generation,workforce,labor market,the New Deal,post-war,social contract,1980s,Saturn,work systems,alternate models,global corporations,organization,labor union,job security,emerging models,new technology,collective negotiation,negotiation,Industrial Relations and Human Resource Management,Industrial Organization,Labor Economics,Social Welfare" name="keywords">
<meta content="RES.15-003 Shaping the Future of Work (15.662x) | 4.1 New Firms, New Jobs, New Technology, and the Future of Work" name="Search_Display">
<meta content="Industrial Relations and Human Resource Management" itemprop="about">
<meta content="Industrial Organization" itemprop="about">
<meta content="Labor Economics" itemprop="about">
<meta content="Social Welfare" itemprop="about">
<!-- End Automatic Metadata Insertion --><link title="default" rel="stylesheet" type="text/css" href="../../../../common/styles/grid.css">
<link title="default" rel="stylesheet" type="text/css" href="../../../../common/styles/base.css">
<link title="default" rel="stylesheet" type="text/css" href="../../../../common/styles/menu.css">
<link title="default" rel="stylesheet" type="text/css" href="../../../../common/styles/jquery.bubblepopup.css">
<link title="default" rel="stylesheet" type="text/css" href="../../../../common/styles/search.css">
<link title="default" rel="stylesheet" type="text/css" href="../../../../common/styles/courses.css">
<link title="default" rel="stylesheet" type="text/css" href="../../../../common/styles/courses_new.css">
<link href="https://ocw.mit.edu/xml/ocwcc.rdf" type="application/rdf+xml" rel="metadata">
<link rel="canonical" href="https://ocw.mit.edu/resources/res-15-003-shaping-the-future-of-work-15-662x-spring-2016/new-emerging-models/new-firms-new-jobs-new-technology-and-the-future-of-work/video-interview-with-jianming-zhou-and-ryder-pearce/">
<link rel="apple-touch-icon" href="../../../../common/images/apple-touch-icon.png">
<script type="text/javascript" src="../../../../common/scripts/jquery.js"></script><script type="text/javascript" src="../../../../common/scripts/ocw-media-utils-offline.js"></script><script type="text/javascript" src="../../../../common/scripts/ocw-offline.js"></script><script type="text/javascript" src="../../../../common/scripts/jquery.bubblepopup.min.js"></script><script type="text/javascript" src="../../../../common/scripts/expandy.js"></script><script type="text/javascript" src="https://ocw.mit.edu//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US&amp;adInstanceId=70ac07d7-b28f-4071-816f-d292aba4849f"></script><script type="text/javascript" src="../../../../common/scripts/bubble-popup-offline.js"></script>
</head>
<body>
<div id="fbQuote" name="fbQuote">
        <script>
          window.fbAsyncInit = function() {
            FB.init({
              appId            : '549343822066688',
              autoLogAppEvents : true,
              xfbml            : true,
              version          : 'v2.11'
            });
	        FB.AppEvents.logEvent('Share',1);
          };
          (function(d, s, id){
             var js, fjs = d.getElementsByTagName(s)[0];
             if (d.getElementById(id)) {return;}
             js = d.createElement(s); js.id = id;
             js.src = "//connect.facebook.net/en_US/sdk.js";
             fjs.parentNode.insertBefore(js, fjs);
           }(document, 'script', 'facebook-jssdk'));
        </script>
</div>


        
        
        

        
        
        
        
        
        
        
        
        
      
    
        
	

        <header id="top"><div id="grid">
				
				
					
<div id="portletwrapper-6f63772e746f70706f72746c65746d616e616765720a636f6e746578740a2f506c6f6e650a736974652d686561646572" class="portletWrapper kssattr-portlethash-6f63772e746f70706f72746c65746d616e616765720a636f6e746578740a2f506c6f6e650a736974652d686561646572">
<div class="portletStaticText portlet-static-site-header">
<!--googleoff: index-->
<div class="grid_6 alpha" id="banner"><a href="https://ocw.mit.edu/"><img src="../../../../common/images/ocw_mast.png" class="logo" alt="MIT OpenCourseWare, Massachusetts Institute of Technology"></a></div>
<div class="grid_6 omega" id="subscribe">
<aside class="module" aria-label="Connect with OCW"><table class="social"><tbody><tr>
<td class="socialbutton"><a aria-label="Subscribe to the OCW Newsletter" href="https://ocw.mit.edu/subscribe/index.htm?utm_source=header"><img src="../../../../common/images/trans.gif" alt="An icon depicting an envelope.">Subscribe to the OCW Newsletter</a></td>
            <td>
<a aria-label="Facebook" href="https://facebook.com/mitocw"><img src="../../../../common/images/icon_fb.png" alt="Click to visit our Facebook page."></a>   <a aria-label="Twitter" href="https://twitter.com/mitocw"><img src="https://ocw.mit.edu/images/icon_twitter.png" alt="Click to visit our Twitter feed."></a>   <a aria-label="YouTube" href="https://www.youtube.com/mitocw"><img src="https://ocw.mit.edu/images/icon_yt.png" alt="Click to visit our YouTube page."></a>   <a aria-label="Open Matters blog on WordPress" href="https://mitopencourseware.wordpress.com/"><img src="https://ocw.mit.edu/images/icon_wp.png" alt="Click to visit our blog on WordPress."></a>
</td>
        </tr></tbody></table></aside><nav aria-label="Help Links" class="helplinks"><a aria-label="OCW Site Help" href="https://ocw.mit.edu/help">Help</a><span aria-hidden="true">|</span>     <a href="../../../../common/jsp/feedback.htm">Contact Us</a>   </nav>
</div>
<div class="clear"> </div>
<!--googleon: index-->
</div>

</div>

<div id="portletwrapper-6f63772e746f70706f72746c65746d616e616765720a636f6e746578740a2f506c6f6e650a6d6567612d6d656e75" class="portletWrapper kssattr-portlethash-6f63772e746f70706f72746c65746d616e616765720a636f6e746578740a2f506c6f6e650a6d6567612d6d656e75">
<div class="portletStaticText portlet-static-mega-menu"><div><nav id="mega" class="grid_8 alpha" aria-label="Site"><ul id="menu" role="presentation">
<li id="menu_home">
<a href="https://ocw.mit.edu/" aria-label="Homepage"><img src="../../../../common/images/top-nav_home.png" class="home_icon" alt="Click for site home page."></a><!-- Begin Home Item -->
</li>
    <!-- End Home Item -->
    <li id="drop_1" aria-label="Find Courses">
<a href="#" aria-hidden="true">FIND COURSES</a><!-- Begin 5 columns Item -->
    <div class="dropdown_5columns-a mega-courses">
    <div class="col_1a">
    <div class="row_1a">
<nav aria-labelledby="mm-find-courses-by"><span id="mm-find-courses-by" class="nav" aria-hidden="true">Find courses by:</span>
    <ul class="find_by" role="presentation">
<li><a href="https://ocw.mit.edu/courses/find-by-topic/">Topic</a></li>
        <li><a href="https://ocw.mit.edu/courses/find-by-number/">MIT Course Number</a></li>
        <li><a href="https://ocw.mit.edu/courses/find-by-department/">Department</a></li>
    </ul></nav><nav aria-labelledby="mm-collections"><span id="mm-collections" class="nav" aria-hidden="true">Collections</span>
    <ul role="presentation">
<li><a href="https://ocw.mit.edu/courses/new-courses/">New Courses</a></li>
        <li><a href="https://ocw.mit.edu/courses/most-visited-courses/">Most Visited Courses</a></li>
        <li><a href="https://ocw.mit.edu/courses/ocw-scholar/">OCW Scholar Courses</a></li>
        <li><a href="https://ocw.mit.edu/courses/audio-video-courses/">Audio/Video Lectures</a></li>
        <li><a href="https://ocw.mit.edu/courses/online-textbooks/">Online Textbooks</a></li>
        <li><a href="https://ocw.mit.edu/resources/">Supplemental Resources</a></li>
        <li><a href="https://ocw.mit.edu/high-school/">OCW Highlights for High School</a></li>
        <li><a href="https://ocw.mit.edu/courses/mitx-related-courseware/">MITx &amp; Related OCW Courses</a></li>
    </ul></nav><nav class="col_1b" aria-labelledby="mm-translated-courses"><span id="mm-translated-courses" class="nav" aria-hidden="true" style="line-height: 1.3;">Cross-Disciplinary Topic Lists</span>
    <ul role="presentation">
<li><a href="https://ocw.mit.edu/courses/energy-courses">Energy</a></li>
        <li><a href="https://ocw.mit.edu/courses/entrepreneurship">Entrepreneurship</a></li>
        <li><a href="https://ocw.mit.edu/courses/environment-courses">Environment</a></li>
        <li><a href="https://ocw.mit.edu/courses/intro-programming">Introductory Programming</a></li>
        <li><a href="https://ocw.mit.edu/courses/life-sciences">Life Sciences</a></li>
        <li><a href="https://ocw.mit.edu/courses/transportation-courses">Transportation</a></li>
    </ul></nav>
</div>
    <div class="row_1b"><nav aria-labelledby="mm-cross-disciplinary-topic-lists"><span id="mm-cross-disciplinary-topic-lists" class="nav" aria-hidden="true">Translated Courses</span>
    <ul role="presentation">
<li><a href="https://ocw.mit.edu/courses/translated-courses/traditional-chinese" aria-label="Traditional Chinese">繁體字 / Traditional Chinese</a></li>
        <li><a href="https://ocw.mit.edu/courses/translated-courses/spanish" aria-label="Spanish">Español / Spanish</a></li>
        <li><a href="https://ocw.mit.edu/courses/translated-courses/turkish" aria-label="Turkish">Türkçe / Turkish</a></li>
        <li><a href="https://ocw.mit.edu/courses/translated-courses/korean" aria-label="Korean">(비디오)한국 / Korean</a></li>
    </ul></nav></div>
    </div>
    </div>
    </li>
    <li id="drop_2">
<a href="#" aria-label="For Educators">For Educators</a>
    <div class="dropdown_1column-a" style="width: 270px;"><nav aria-labelledby="mm-find-courses-by"><span id="mm-find-courses-by" class="nav" aria-hidden="true">OCW Educator Portal</span>
    <ul role="presentation">
<li><a href="https://ocw.mit.edu/educator/?view=instructional&amp;utm_campaign=Educator&amp;utm_source=megamenu&amp;utm_medium=find-courses&amp;utm_content=approaches">Search for Instructor Insights</a></li>
        <li><a href="https://ocw.mit.edu/educator/?view=teaching&amp;utm_campaign=Educator&amp;utm_source=megamenu&amp;utm_medium=find-courses&amp;utm_content=materials">Search for Teaching Materials</a></li>
    </ul>
<span id="mm-collections" class="nav" aria-hidden="true">OCW Collections</span>
    <ul role="presentation">
<li><a href="https://ocw.mit.edu/courses/instructor-insights/">Instructor Insights by Department</a></li>
        <li><a href="https://ocw.mit.edu/courses/find-by-topic/#cat=teachingandeducation">MIT Courses about Teaching and Education</a></li>
    </ul>
<span id="mm-collections" class="nav" aria-hidden="true">K-12</span>
    <ul role="presentation">
<li><a href="https://ocw.mit.edu/high-school/">OCW Highlights for High School</a></li>
        <li><a href="https://www.k12videos.mit.edu/videos" aria-label="External Link: MIT Plus K12 Videos">MIT+K12 Videos</a></li>
    </ul>
<span id="mm-higher-ed" class="nav" aria-hidden="true">Higher Ed</span>
    <ul>
<li><a href="https://teachingexcellence.mit.edu/" aria-label="External Link: Teaching Excellence at MIT">Teaching Excellence at MIT</a></li>
        <li><a href="https://ocw.mit.edu/courses/mit-curriculum-guide/">MIT Undergraduate Curriculum Map</a></li>
    </ul></nav></div>
    </li>
    <li id="drop_3">
<a href="#" aria-hidden="true">Give Now</a>
    <div class="dropdown_1column-a"><nav class="col_1" aria-label="Donate"><ul role="presentation">
<li><a href="https://ocw.mit.edu/give/">Make a Donation</a></li>
        <li><a href="https://ocw.mit.edu/give/why-give/">Why Give?</a></li>
        <li><a href="https://ocw.mit.edu/give/our-supporters/">Our Supporters</a></li>
        <li><a href="https://ocw.mit.edu/give/other-ways-to-contribute/">Other Ways to Contribute</a></li>
        <li><a href="https://ocw.mit.edu/give/shop-ocw">Shop OCW</a></li>
        <li><a href="https://ocw.mit.edu/support/">Become a Corporate Sponsor</a></li>
    </ul></nav></div>
    </li>
    <li id="drop_4">
<a href="#" aria-hidden="true">About</a>
    <div class="dropdown_1column-a"><nav class="col_1" aria-label="About"><ul role="presentation">
<li><a href="https://ocw.mit.edu/about/">About MIT OpenCourseWare</a></li>
        <li><a href="https://ocw.mit.edu/about/site-statistics/">Site Statistics</a></li>
        <li><a href="https://ocw.mit.edu/about/ocw-stories/">OCW Stories</a></li>
        <li><a href="https://ocw.mit.edu/about/newsletter/">News</a></li>
    </ul></nav></div>
    </li>
</ul></nav></div></div>

</div>





<!--googleoff: index-->
<script>
  (function() {
	var cx = '012626166551961672889:owjdpuboktq';
	var gcse = document.createElement('script');
	gcse.type = 'text/javascript';
	gcse.async = true;
	gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
	var s = document.getElementsByTagName('script')[0];
	s.parentNode.insertBefore(gcse, s);
  })();
  window.onload = function(){
	document.getElementById('gsc-i-id1').placeholder = 'Search';	
  };

$(document).ready(function(){

$('.advanceSearch a').keydown(function(event){showSearchTips($(this),event);})
$('#searchTipsModal').keydown(function(event){showSearchTips($(this),event);})

function showSearchTips(obj,evt) {
// if pressed enter key
	if ( evt.which == 13 || evt.which == 32) {
		showModal();
		ga('send', 'pageview', "AdvanceSearch");
		$(".advanceSearch a").attr('aria-expanded', 'true');
		$('.searchTipsModal').focus();
		evt.preventDefault();
		}
	if ( evt.which == 27 ) {
		hideModal();
		$(".advanceSearch a").attr('aria-expanded', 'false');
		var modal = document.getElementById('searchTipsModal');
		modal.style.display = "none";
		$(".advanceSearch a").focus();
		evt.preventDefault();
		}
}

});
function showModal(){
	var modal = document.getElementById('searchTipsModal');
	modal.style.display = "block";
	ga('send', 'pageview', "AdvanceSearch");
	document.getElementById("searchTipsBtn").setAttribute("aria-expanded", true);
	window.setTimeout(function () {
    document.getElementById('searchTipsModal').focus(); }, 0);
}

function hideModal(){
	var modal = document.getElementById('searchTipsModal');
	modal.style.display = "none";
	document.getElementById("searchTipsBtn").setAttribute("aria-expanded", false);
}
</script><div id="search" role="search" class="grid_4 omega">
    	<table class="search"><tbody><tr>
<td><div class="searchboxheader"><searchbox-only resultsurl="/search/ocwsearch.htm"></searchbox-only></div></td>
						<td>
							<div class="advanceSearch">
								<a id="searchTipsBtn" onclick="showModal();" href="#" role="button" aria-label="search tips" aria-expanded="false" aria-describedby="searchtips">Search Tips</a>

								<!-- The Modal -->
								<div id="searchTipsModal" class="modal" tabindex="-1">
								  <!-- Modal content -->
									<div class="modal-content">
										<div class="modal-body">
											<button class="close" onclick="hideModal();" aria-label="close">X</button>
											<span>
												<b>Exclude words from your search</b>
												<br>Put - in front of a word you want to leave out. For example, jaguar speed -car
												<br><br><b>Search for an exact match</b>
												<br>Put a word or phrase inside quotes. For example, "tallest building".
												<br><br><b>Search for wildcards or unknown words</b>
												<br>Put a * in your word or phrase where you want to leave a placeholder. For example, "largest * in the world".
												<br><br><b>Search within a range of numbers</b>
												<br>Put .. between two numbers. For example, camera $50..$100.
												<br><br><b>Combine searches</b>
												<br>Put "OR" between each search query. For example,  marathon OR race.
												<br><br></span>
										</div>
								  </div>
								</div>
							</div>
						</td>
					</tr></tbody></table>
</div>
<div class="clear"></div>
<!--googleon: index-->
<!-- *end header* -->

				
				
			</div>
<!-- top grid end -->
		</header><!-- top end --><div id="center">
         <div id="grid">
		     <div id="left-section">
                 <nav id="breadcrumb" aria-label="Breadcrumb"><p>

    <a href="https://ocw.mit.edu/">Home</a>
    
        »
        
    
    
        
            <a href="https://ocw.mit.edu/resources">Supplemental Resources</a>
            
                »
                
            
            
         
    
    
        
            <a href="../../../../contents/index.htm">Shaping the Future of Work (15.662x)</a>
            
                »
                
            
            
         
    
    
        
            <a href="../../../../contents/new-emerging-models/index.htm">Week 4: New Emerging Models</a>
            
                »
                
            
            
         
    
    
        
            <a href="../../../../contents/new-emerging-models/new-firms-new-jobs-new-technology-and-the-future-of-work/index.htm">4.1 New Firms, New Jobs, New Technology, and the Future of Work</a>
            
                »
                
            
            
         
    
    
        
            
            
            4.1.5 Video: Interview with Jianming Zhou and Ryder Pearce
         
    
</p>

                 </nav><div class="clear"></div>
                 <div id="section_title">
           			<h1 class="title" itemprop="name" property="dct:title">
        <span class="" id="parent-fieldname-title">
            4.1 New Firms, New Jobs, New Technology, and the Future of Work
        </span>
    </h1>
           	     </div>
           	     <div class="clear"></div>
           	     <div id="course_wrapper_section">
           	     	 <nav id="course_nav" aria-label="Course"><script language="javascript" type="text/javascript">
function toggleMenu(objID) {
  if (!document.getElementById) return;
  var ob = document.getElementById(objID);
  ob.className = (ob.className == 'selected')?'': 'selected';
}
function toggleClass(id)
{
  var divtoggleClass= document.getElementById(id);
  divtoggleClass.className = (divtoggleClass.className == 'mO')?'mC': 'mO';
  return false;
}
function changeAlt(id)
{
  id.alt = (id.alt == 'Expand Menu')?'Collapse Menu' : 'Expand Menu';
  id.title = (id.title == 'Expand Menu')?'Collapse Menu' : 'Expand Menu';
}
</script><!--Left Nav Starts --><ul>
<li class="">
			   			<a href="../../../../contents/index.htm">
		                  Resource Home  			                
	                    </a>
		        </li>
		    
         	
	
	
	    	
	    	    <li class="">
			   			<a href="../../../../contents/syllabus/index.htm">
		                  Syllabus  			                
	                    </a>
		        </li>
		    
         	
	
	
	    	
         	<li class="">
       		<div class="tlp_links">
	        	<div id="instructor-insights" class="mO">
						<a href="#" class="" onclick="toggleMenu('menuinstructor-insights'); toggleClass('instructor-insights'); return false">
		                  <img src="../../../../common/images/trans.gif" class="expandCollapseTrans" border="0" width="10" height="12" onclick="changeAlt(this)" alt="Expand Menu" title="Expand Menu"></a>
		                <a href="../../../../contents/instructor-insights/index.htm" class="">
		                  Instructor Insights  			                
	                    </a>
	                 			                
	            </div>
			    
	        	<ul id="menuinstructor-insights" class="">
<li class="">
				 		<a href="../../../../contents/instructor-insights/teaching-online-to-improve-residential-education/index.htm" class="">Teaching Online to Improve Residential Education</a>
		            </li>
		            <li class="">
				 		<a href="../../../../contents/instructor-insights/adapting-content-communicating-differently/index.htm" class="">Adapting Content, Communicating Differently</a>
		            </li>
		            <li class="">
				 		<a href="../../../../contents/instructor-insights/valuing-the-contributions-of-others/index.htm" class="">Valuing the Contributions of Others</a>
		            </li>
		            <li class="">
				 		<a href="../../../../contents/instructor-insights/assessment-in-an-online-course/index.htm" class="">Assessment in an Online Course</a>
		            </li>
		            <li class="">
				 		<a href="../../../../contents/instructor-insights/reaching-audiences-more-effectively/index.htm" class="">Reaching Audiences More Effectively</a>
		            </li>
			    </ul>
</div>
			</li>
	
	
	    	
	    	    <li class="">
			   			<a href="../../../../contents/resource-index/index.htm">
		                  Resource Index  			                
	                    </a>
		        </li>
		    
         	
	
	
	    	
	    	    <li class="">
			   			<a href="../../../../contents/readings/index.htm">
		                  Readings  			                
	                    </a>
		        </li>
		    
         	
	
	
	    	
         	<li class="">
       		<div class="tlp_links">
	        	<div id="assignments" class="mO">
						<a href="#" class="" onclick="toggleMenu('menuassignments'); toggleClass('assignments'); return false">
		                  <img src="../../../../common/images/trans.gif" class="expandCollapseTrans" border="0" width="10" height="12" onclick="changeAlt(this)" alt="Expand Menu" title="Expand Menu"></a>
		                <a href="../../../../contents/assignments/index.htm" class="">
		                  Assignments  			                
	                    </a>
	                 			                
	            </div>
			    
	        	<ul id="menuassignments" class="">
<li class="">
				 		<a href="../../../../contents/assignments/assignments-week1/index.htm" class="">Week 1 Assignments</a>
		            </li>
		            <li class="">
				 		<a href="../../../../contents/assignments/assignments-week2/index.htm" class="">Week 2 Assignments</a>
		            </li>
		            <li class="">
				 		<a href="../../../../contents/assignments/assignments-week3/index.htm" class="">Week 3 Assignments</a>
		            </li>
		            <li class="">
				 		<a href="../../../../contents/assignments/assignments-week4/index.htm" class="">Week 4 Assignments</a>
		            </li>
		            <li class="">
				 		<a href="../../../../contents/assignments/assignments-week6/index.htm" class="">Week 6 Assignments</a>
		            </li>
			    </ul>
</div>
			</li>
	
	
	    	
         	<li class="">
       		<div class="tlp_links">
	        	<div id="introduction-challenges-and-opportunities" class="mO">
						<a href="#" class="" onclick="toggleMenu('menuintroduction-challenges-and-opportunities'); toggleClass('introduction-challenges-and-opportunities'); return false">
		                  <img src="../../../../common/images/trans.gif" class="expandCollapseTrans" border="0" width="10" height="12" onclick="changeAlt(this)" alt="Expand Menu" title="Expand Menu"></a>
		                <a href="../../../../contents/introduction-challenges-and-opportunities/index.htm" class="">
		                  Week 1: Introduction: Challenges and Opportunities  			                
	                    </a>
	                 			                
	            </div>
			    
	        	<ul id="menuintroduction-challenges-and-opportunities" class="">
<li class="">
				 		<a href="../../../../contents/introduction-challenges-and-opportunities/introduction-to-the-course-and-the-15-662x-team/index.htm" class="">1.1 Introduction to the Course and the 15.662x Team</a>
		            </li>
		            <li class="">
				 		<a href="../../../../contents/introduction-challenges-and-opportunities/challenges-and-opportunities-as-you-enter-the-workforce/index.htm" class="">1.2 Challenges and Opportunities as You Enter the Workforce</a>
		            </li>
		            <li class="">
				 		<a href="../../../../contents/introduction-challenges-and-opportunities/for-more-information/index.htm" class="">1.3 For More Information...</a>
		            </li>
			    </ul>
</div>
			</li>
	
	
	    	
         	<li class="">
       		<div class="tlp_links">
	        	<div id="the-old-social-contract" class="mO">
						<a href="#" class="" onclick="toggleMenu('menuthe-old-social-contract'); toggleClass('the-old-social-contract'); return false">
		                  <img src="../../../../common/images/trans.gif" class="expandCollapseTrans" border="0" width="10" height="12" onclick="changeAlt(this)" alt="Expand Menu" title="Expand Menu"></a>
		                <a href="../../../../contents/the-old-social-contract/index.htm" class="">
		                  Week 2: The Old Social Contract  			                
	                    </a>
	                 			                
	            </div>
			    
	        	<ul id="menuthe-old-social-contract" class="">
<li class="">
				 		<a href="../../../../contents/the-old-social-contract/what-made-the-old-social-contract-work-and-why-did-it-break-down/index.htm" class="">2.1 What Made the Old Social Contract Work and Why did It Break Down?</a>
		            </li>
		            <li class="">
				 		<a href="../../../../contents/the-old-social-contract/for-more-information-0/index.htm" class="">2.2 For More Information...</a>
		            </li>
			    </ul>
</div>
			</li>
	
	
	    	
         	<li class="">
       		<div class="tlp_links">
	        	<div id="innovations-in-the-1980s-and-beyond" class="mO">
						<a href="#" class="" onclick="toggleMenu('menuinnovations-in-the-1980s-and-beyond'); toggleClass('innovations-in-the-1980s-and-beyond'); return false">
		                  <img src="../../../../common/images/trans.gif" class="expandCollapseTrans" border="0" width="10" height="12" onclick="changeAlt(this)" alt="Expand Menu" title="Expand Menu"></a>
		                <a href="../../../../contents/innovations-in-the-1980s-and-beyond/index.htm" class="">
		                  Week 3: Innovations in the 1980s and Beyond  			                
	                    </a>
	                 			                
	            </div>
			    
	        	<ul id="menuinnovations-in-the-1980s-and-beyond" class="">
<li class="">
				 		<a href="../../../../contents/innovations-in-the-1980s-and-beyond/out-of-crisis-innovations-in-the-1980s-and-beyond/index.htm" class="">3.1 Out of Crisis: Innovations in the 1980s and Beyond</a>
		            </li>
		            <li class="">
				 		<a href="../../../../contents/innovations-in-the-1980s-and-beyond/around-the-world-1/index.htm" class="">3.2 Around the World</a>
		            </li>
		            <li class="">
				 		<a href="../../../../contents/innovations-in-the-1980s-and-beyond/for-more-information-1/index.htm" class="">3.3 For More Information...</a>
		            </li>
			    </ul>
</div>
			</li>
	
	
	    	
         	<li class="">
       		<div class="tlp_links">
	        	<div id="new-emerging-models" class="mC">
						<a href="#" class="" onclick="toggleMenu('menunew-emerging-models'); toggleClass('new-emerging-models'); return false">
		                  <img src="../../../../common/images/trans.gif" class="expandCollapseTrans" border="0" width="10" height="12" onclick="changeAlt(this)" alt="Collapse Menu" title="Collapse Menu"></a>
		                <a href="../../../../contents/new-emerging-models/index.htm" class="">
		                  Week 4: New Emerging Models  			                
	                    </a>
	                 			                
	            </div>
			    
	        	<ul id="menunew-emerging-models" class="selected">
<li class="selected">
				 		<a href="../../../../contents/new-emerging-models/new-firms-new-jobs-new-technology-and-the-future-of-work/index.htm" class="selected">4.1 New Firms, New Jobs, New Technology, and the Future of Work</a>
		            </li>
			    </ul>
</div>
			</li>
	
	
	    	
         	<li class="">
       		<div class="tlp_links">
	        	<div id="the-worker-voice-and-advocacy" class="mO">
						<a href="#" class="" onclick="toggleMenu('menuthe-worker-voice-and-advocacy'); toggleClass('the-worker-voice-and-advocacy'); return false">
		                  <img src="../../../../common/images/trans.gif" class="expandCollapseTrans" border="0" width="10" height="12" onclick="changeAlt(this)" alt="Expand Menu" title="Expand Menu"></a>
		                <a href="../../../../contents/the-worker-voice-and-advocacy/index.htm" class="">
		                  Week 5: The Worker Voice and Advocacy  			                
	                    </a>
	                 			                
	            </div>
			    
	        	<ul id="menuthe-worker-voice-and-advocacy" class="">
<li class="">
				 		<a href="../../../../contents/the-worker-voice-and-advocacy/emerging-models-of-worker-voice-and-advocacy/index.htm" class="">5.1 Emerging Models of Worker Voice and Advocacy</a>
		            </li>
		            <li class="">
				 		<a href="../../../../contents/the-worker-voice-and-advocacy/for-more-information-2/index.htm" class="">5.2 For More Information...</a>
		            </li>
			    </ul>
</div>
			</li>
	
	
	    	
         	<li class="">
       		<div class="tlp_links">
	        	<div id="the-social-contract-negotiation-exercise" class="mO">
						<a href="#" class="" onclick="toggleMenu('menuthe-social-contract-negotiation-exercise'); toggleClass('the-social-contract-negotiation-exercise'); return false">
		                  <img src="../../../../common/images/trans.gif" class="expandCollapseTrans" border="0" width="10" height="12" onclick="changeAlt(this)" alt="Expand Menu" title="Expand Menu"></a>
		                <a href="../../../../contents/the-social-contract-negotiation-exercise/index.htm" class="">
		                  Week 6: The Social Contract Negotiation Exercise  			                
	                    </a>
	                 			                
	            </div>
			    
	        	<ul id="menuthe-social-contract-negotiation-exercise" class="">
<li class="">
				 		<a href="../../../../contents/the-social-contract-negotiation-exercise/social-contract-negotiations-exercise/index.htm" class="">6.1 Social Contract Negotiations Exercise</a>
		            </li>
			    </ul>
</div>
			</li>
	
	
	    	
         	<li class="">
       		<div class="tlp_links">
	        	<div id="student-reports-on-their-plans-for-action" class="mO">
						<a href="#" class="" onclick="toggleMenu('menustudent-reports-on-their-plans-for-action'); toggleClass('student-reports-on-their-plans-for-action'); return false">
		                  <img src="../../../../common/images/trans.gif" class="expandCollapseTrans" border="0" width="10" height="12" onclick="changeAlt(this)" alt="Expand Menu" title="Expand Menu"></a>
		                <a href="../../../../contents/student-reports-on-their-plans-for-action/index.htm" class="">
		                  Week 7: Student Reports on Their Plans for Action  			                
	                    </a>
	                 			                
	            </div>
			    
	        	<ul id="menustudent-reports-on-their-plans-for-action" class="">
<li class="">
				 		<a href="../../../../contents/student-reports-on-their-plans-for-action/live-event-presentation/index.htm" class="">7.1 Live Event Presentation</a>
		            </li>
			    </ul>
</div>
			</li>
	
	
	    	
	    	    
		    
         	
	<!--second tal block close-->  
	
</ul>
<!--Left Nav Ends --></nav><main id="course_inner_section" aria-labelledby="section_title"><ul class="navigation pagination">
<li id="top_bck_btn"><a href="../../../../contents/new-emerging-models/new-firms-new-jobs-new-technology-and-the-future-of-work/video-uber-case-study/index.htm">&lt;<span>Video: Uber Case Study</span></a></li>
<li id="flp_btn_1"><a href="../../../../contents/new-emerging-models/new-firms-new-jobs-new-technology-and-the-future-of-work/index.htm">4.1.1<span>Video: Week 4 Introduction</span></a></li>
<li id="flp_btn_2"><a href="../../../../contents/new-emerging-models/new-firms-new-jobs-new-technology-and-the-future-of-work/video-what-occupations-are-growing/index.htm">4.1.2<span>Video: What Occupations are Growing?</span></a></li>
<li id="flp_btn_3"><a href="../../../../contents/new-emerging-models/new-firms-new-jobs-new-technology-and-the-future-of-work/video-emerging-forms-of-work/index.htm">4.1.3<span>Video: Emerging Forms of Work</span></a></li>
<li id="flp_btn_4"><a href="../../../../contents/new-emerging-models/new-firms-new-jobs-new-technology-and-the-future-of-work/video-uber-case-study/index.htm">4.1.4<span>Video: Uber Case Study</span></a></li>
<li id="flp_btn_5" class="button_selected"><a href="../../../../contents/new-emerging-models/new-firms-new-jobs-new-technology-and-the-future-of-work/video-interview-with-jianming-zhou-and-ryder-pearce/index.htm">4.1.5<span>Video: Interview with Jianming Zhou and Ryder Pearce</span></a></li>
<li id="flp_btn_6"><a href="../../../../contents/new-emerging-models/new-firms-new-jobs-new-technology-and-the-future-of-work/video-interview-with-erik-brynjolfsson/index.htm">4.1.6<span>Video: Interview with Erik Brynjolfsson</span></a></li>
<li id="flp_btn_7"><a href="../../../../contents/new-emerging-models/new-firms-new-jobs-new-technology-and-the-future-of-work/video-interviews-with-barbara-dyer-and-scott-stern/index.htm">4.1.7<span>Video: Interviews with Barbara Dyer and Scott Stern</span></a></li>
<li id="flp_btn_8"><a href="../../../../contents/new-emerging-models/new-firms-new-jobs-new-technology-and-the-future-of-work/video-mit-technology-conference-with-meryam-bukhari/index.htm">4.1.8<span>Video: MIT Technology Conference with Meryam Bukhari</span></a></li>
<li id="top_continue_btn"><a href="../../../../contents/new-emerging-models/new-firms-new-jobs-new-technology-and-the-future-of-work/video-interview-with-erik-brynjolfsson/index.htm">&gt;<span>Video: Interview with Erik Brynjolfsson</span></a></li>
</ul>
<p>The video below captures a discussion between Professor Kochan and the founders of Sherpashare, exploring the services offered and future directions of the innovative company.</p>
<p></p>
<h2 class="subhead">Video: Interview with Jianming Zhou and Ryder Pearce, Co-Founders of Sherpashare</h2>
<p><script type="text/javascript">var caption_embed1 ={'English - US': '/resources/res-15-003-shaping-the-future-of-work-15-662x-spring-2016/new-emerging-models/new-firms-new-jobs-new-technology-and-the-future-of-work/video-interview-with-jianming-zhou-and-ryder-pearce/video-interview-with-jianming-zhou-and-ryder-pearce-co-founders-of-sherpashare/6gffCYK1_nk.srt'}</script></p>
<div class="inline-video" id="video1">
<div id="embed1" class="attention_message"><p>Flash and JavaScript are required for this feature.</p></div>
<script type="text/javascript">ocw_embed_chapter_media('embed1', 'https://www.youtube.com/v/6gffCYK1_nk', 'youtube', '/resources/res-15-003-shaping-the-future-of-work-15-662x-spring-2016/new-emerging-models/new-firms-new-jobs-new-technology-and-the-future-of-work/video-interview-with-jianming-zhou-and-ryder-pearce', 'https://img.youtube.com/vi/6gffCYK1_nk/0.jpg',0,0, 'https://ocw.mit.edu/resources/res-15-003-shaping-the-future-of-work-15-662x-spring-2016/new-emerging-models/new-firms-new-jobs-new-technology-and-the-future-of-work/video-interview-with-jianming-zhou-and-ryder-pearce/video-interview-with-jianming-zhou-and-ryder-pearce-co-founders-of-sherpashare/6gffCYK1_nk.srt')</script><div id="embed1transcript1"></div>
<script type="text/javascript">createThreePlayParams(2, 1511451, "embed1", 0, 0)</script><p class="pop_margin_link"><a class="poplink" href="https://itunes.apple.com/us/itunes-u/id1210098516" target="_blank">&gt; Download from iTunes U (MP4 - 47MB) </a></p>
<p class="pop_margin_link"><a class="poplink" href="https://archive.org/download/MITRES.15-003S16/MITRES_15_003S16_4-1-5_360p.mp4" target="_blank">&gt; Download from Internet Archive (MP4 - 47MB) </a></p>
<p class="pop_margin_link"><a class="poplink" href="../../../../contents/new-emerging-models/new-firms-new-jobs-new-technology-and-the-future-of-work/video-interview-with-jianming-zhou-and-ryder-pearce/video-interview-with-jianming-zhou-and-ryder-pearce-co-founders-of-sherpashare/6gffCYK1_nk.pdf" target="_blank">&gt; Download English-US transcript (PDF)</a></p>
<p class="pop_margin_link"><a class="poplink" href="../../../../contents/new-emerging-models/new-firms-new-jobs-new-technology-and-the-future-of-work/video-interview-with-jianming-zhou-and-ryder-pearce/video-interview-with-jianming-zhou-and-ryder-pearce-co-founders-of-sherpashare/6gffCYK1_nk.srt" target="_blank">&gt; Download English-US caption (SRT)</a></p>
</div>
<ul class="navigation progress">
<li id="bck_btn"><a href="../../../../contents/new-emerging-models/new-firms-new-jobs-new-technology-and-the-future-of-work/video-uber-case-study/index.htm">Back<span>Video: Uber Case Study</span></a></li>
<li id="continue_btn"><a href="../../../../contents/new-emerging-models/new-firms-new-jobs-new-technology-and-the-future-of-work/video-interview-with-erik-brynjolfsson/index.htm">Continue<span>Video: Interview with Erik Brynjolfsson</span></a></li>
</ul></main><!--Course_inner_section tag close --><div class="clear"></div>
 				 </div>
<!--Course_wrapper tag close -->             
 			 </div>
<!--left tag close -->
 			                 
         </div>
<!--grid tag close --> 
      </div>
		
		<footer id="bottom"><div id="grid">
				
<div id="portletwrapper-6f63772e626f74746f6d706f72746c65746d616e616765720a636f6e746578740a2f506c6f6e650a736974652d666f6f746572" class="portletWrapper kssattr-portlethash-6f63772e626f74746f6d706f72746c65746d616e616765720a636f6e746578740a2f506c6f6e650a736974652d666f6f746572">
<div class="portletStaticText portlet-static-site-footer"><div id="footer">
<nav aria-label="Footer"><nav id="foot-c1" class="grid_2 alpha" aria-labelledby="f-find-courses"><span class="footer" id="f-find-courses" aria-hidden="true">Find Courses</span>
<ul class="foot-bullet" role="presentation">
<li><a href="https://ocw.mit.edu/courses/find-by-topic/">Find by Topic</a></li>
    <li><a href="https://ocw.mit.edu/courses/find-by-number/">Find by Course Number</a></li>
    <li><a href="https://ocw.mit.edu/courses/find-by-department/">Find by Department</a></li>
    <li><a href="https://ocw.mit.edu/courses/new-courses/">New Courses</a></li>
    <li><a href="https://ocw.mit.edu/courses/most-visited-courses/">Most Visited Courses</a></li>
    <li><a href="https://ocw.mit.edu/courses/ocw-scholar/">OCW Scholar Courses</a></li>
    <li><a href="https://ocw.mit.edu/courses/audio-video-courses/">Audio/Video Courses</a></li>
    <li><a href="https://ocw.mit.edu/courses/online-textbooks/">Online Textbooks</a></li>
    <li><a href="https://ocw.mit.edu/courses/instructor-insights/">Instructor Insights</a></li>
    <li><a href="https://ocw.mit.edu/resources/">Supplemental Resources</a></li>
    <li><a href="https://ocw.mit.edu/courses/mitx-related-courseware/">MITx &amp; Related OCW Courses</a></li>
    <li><a href="https://ocw.mit.edu/courses/translated-courses/">Translated Courses</a></li>
</ul></nav><div id="foot-c2" class="grid_2"><nav aria-labelledby="f-for-educators"><span id="f-for-educators" class="footer" aria-hidden="true">For Educators</span>
<ul class="foot-bullet" role="presentation">
<li><a href="https://ocw.mit.edu/educator/?view=instructional&amp;utm_campaign=Educator&amp;utm_source=footer&amp;utm_medium=find-courses&amp;utm_content=approaches">Search for Instructor Insights</a></li>
    <li><a href="https://ocw.mit.edu/educator/?view=teaching&amp;utm_campaign=Educator&amp;utm_source=footer&amp;utm_medium=find-courses&amp;utm_content=materials">Search for Teaching Materials</a></li>
    <li><a href="https://ocw.mit.edu/courses/instructor-insights/">Instructor Insights by Department</a></li>
    <li><a href="https://ocw.mit.edu/courses/find-by-topic/#cat=teachingandeducation">MIT Courses about Teaching and Education</a></li>
    <li><a href="https://ocw.mit.edu/high-school/">Highlights for High School</a></li>
    <li><a href="http://k12videos.mit.edu" aria-label="External Link: MIT+K12 Videos">MIT+K12 Videos</a></li>
    <li><a href="http://teachingexcellence.mit.edu/" aria-label="External Link: Teaching Excellence at MIT">Teaching Excellence at MIT</a></li>
    <li><a href="https://ocw.mit.edu/courses/mit-curriculum-guide/">MIT Undergraduate Curriculum Map</a></li>
</ul></nav></div>
<nav class="grid_2" id="foot-c3" aria-labelledby="f-donate"><span id="f-donate" class="footer" aria-hidden="true">Give Now</span>
<ul class="foot-bullet" role="presentation">
<li><a href="https://ocw.mit.edu/give/">Make a Donation</a></li>
    <li><a href="https://ocw.mit.edu/give/why-give/">Why Give?</a></li>
    <li><a href="https://ocw.mit.edu/give/our-supporters/">Our Supporters</a></li>
    <li><a href="https://ocw.mit.edu/give/other-ways-to-contribute/">Other Ways to Contribute</a></li>
    <li><a href="https://ocw.mit.edu/give/shop-ocw/">Shop OCW</a></li>
    <li><a href="https://ocw.mit.edu/support/">Become a Corporate Sponsor</a></li>
</ul></nav><div class="grid_2" id="foot-c4">
<nav aria-labelledby="f-about"><span id="f-about" class="footer" aria-hidden="true">About</span>
<ul class="foot-bullet" role="presentation">
<li><a href="https://ocw.mit.edu/about/">About OpenCourseWare</a></li>
    <li><a href="https://ocw.mit.edu/about/site-statistics/">Site Statistics</a></li>
    <li><a href="https://ocw.mit.edu/about/ocw-stories/">OCW Stories</a></li>
    <li><a href="https://ocw.mit.edu/about/newsletter/">News</a></li>
    <li><a href="https://ocw.mit.edu/about/media-coverage/press-releases/">Press Releases</a></li>
</ul></nav><!--about--><nav aria-labelledby="f-tools"><span id="f-tools" class="footer" aria-hidden="true">Tools</span>
<ul class="foot-bullet" role="presentation">
<li><a href="https://ocw.mit.edu/help/">Help &amp; FAQs</a></li>
    <li><a href="../../../../common/jsp/feedback.htm">Contact Us</a></li>
    <li><a href="https://ocw.mit.edu/help/site-map/">Site Map</a></li>
    <li><a href="../../../../common/terms/index.htm">Privacy &amp; Terms of Use</a></li>
    <li><a href="https://ocw.mit.edu/help/rss/">RSS Feeds</a></li>
</ul></nav><!--tools-->
</div>
</nav><aside style="min-height: 289px;" aria-labelledby="f-our-corporate-supporters" class="grid_4 omega" id="foot-c5"><span aria-hidden="true" class="footer" id="f-our-corporate-supporters">Our Corporate Supporters</span>           <!-- HOME_CORP_LOGO_1 -->
<div id="div-gpt-ad-1388181177156-0" class="sponsors_google_ads_even"><script type="text/javascript">
              googletag.cmd.push(function() { googletag.display('div-gpt-ad-1388181177156-0'); });
            </script></div>
<!-- HOME_CORP_LOGO_2 -->
<div id="div-gpt-ad-1388181177156-1" class="sponsors_google_ads_odd"><script type="text/javascript">
              googletag.cmd.push(function() { googletag.display('div-gpt-ad-1388181177156-1'); });
            </script></div>
<!-- HOME_CORP_LOGO_3 -->
<div id="div-gpt-ad-1388181177156-2" class="sponsors_google_ads_even"><script type="text/javascript">
              googletag.cmd.push(function() { googletag.display('div-gpt-ad-1388181177156-2'); });
            </script></div>
<!-- HOME_CORP_LOGO_4 -->
<div id="div-gpt-ad-1388181177156-3" class="sponsors_google_ads_odd"><script type="text/javascript">
              googletag.cmd.push(function() { googletag.display('div-gpt-ad-1388181177156-3'); });
            </script></div>
<!-- HOME_CORP_LOGO_5 -->
<div id="div-gpt-ad-1388181177156-4" class="sponsors_google_ads_even"><script type="text/javascript">
              googletag.cmd.push(function() { googletag.display('div-gpt-ad-1388181177156-4'); });
              </script></div>
<!-- HOME_CORP_LOGO_6 -->
<div id="div-gpt-ad-1388181177156-5" class="sponsors_google_ads_odd"><script type="text/javascript">
              googletag.cmd.push(function() { googletag.display('div-gpt-ad-1388181177156-5'); });
              </script></div>
</aside><div class="grid_12 alpha omega" itemprop="publisher" itemscope="" itemtype="http://schema.org/CollegeOrUniversity">
<h4 class="footer" style="border-top: thin solid #d5c9ba; padding-top: 10px; margin-bottom: 10px;">About <span itemprop="name">MIT OpenCourseWare</span>
</h4>
<p style="color: #999; font-size: 1em; line-height: 1.5em; margin-top: 10px;" itemprop="description">MIT OpenCourseWare makes the materials used in the teaching of almost all of MIT's subjects available on the Web, free of charge. With more than 2,400 courses available, OCW is delivering on the promise of open sharing of knowledge. <a href="http://ocw.mit.edu/about/">Learn more »</a></p>
</div>
<div id="foot-copy" class="grid_12 alpha omega" style="border-top: none;">
<a href="http://web.mit.edu"><img src="../../../../common/images/logo_mit.png" alt="Massachusetts Institute of Technology logo and name." style="width: 195; height: 44;"></a><a href="http://odl.mit.edu"><img src="https://ocw.mit.edu/images/logo_odl.png" alt="MIT Office of Digital Learning logo and name." style="width: 289; height: 54; vertical-align: top;"></a><a href="http://www.oeconsortium.org/"><img src="https://ocw.mit.edu/images/logo_oec.png" alt="Open Education Consortium logo." style="width: 219px; height: 59px; vertical-align: top;"></a><a rel="license" itemprop="useRightsUrl" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img src="../../../../common/images/cc_by-nc-sa.png" alt="Creative Commons logo with terms BY-NC-SA." style="width: 126px; height: 44px; margin-right: 0; margin-left: 13px;"></a>
<p class="copyright">© 2001–2018<br>
Massachusetts Institute of Technology</p>
<p style="font-size: 0.9em; margin-bottom: 15px;">Your use of the MIT OpenCourseWare site and materials is subject to our <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" rel="license">Creative Commons License</a> and other <a href="../../../../common/terms/index.htm" rel="cc:morePermissions">terms of use</a>.</p>
</div>
</div></div>

</div>





                
			</div> <!-- bottom grid end -->
		</footer><!-- footer bottom end -->
</body>
</html>
