<!DOCTYPE html><html lang="en">
<head>
<meta charset="utf-8">
<meta name="format-detection" content="telephone=no">
<title>Video: Emerging Forms of Work | 4.1 New Firms, New Jobs, New Technology, and the Future of Work | 4.1 New Firms, New Jobs, New Technology, and the Future of Work | 4 New Emerging Models | Shaping the Future of Work (15.662x) | MIT OpenCourseWare</title>
<!-- Begin Automatic Metadata Insertion --><meta content="res-15-003-shaping-the-future-of-work-15-662x-spring-2016" name="WT.cg_n">
<meta content="Video: Emerging Forms of Work" name="WT.cg_s">
<meta content="John McCarthy talks about new, technology-mediated work arrangements like Uber and TaskRabbit.com." name="Description">
<meta content="Kochan, Thomas A." name="Author">
<meta content="RES.15-003,RES.15,new work arrangements,flexibility,freelance work,job security,pay gap,mercenary,software,freelancer.com,bidding,care.com,amazon mechanicalturk,uncertainty,insecurity,lack of pension,lack of paid vacation,Industrial Relations and Human Resource Management,Industrial Organization,Labor Economics,Social Welfare" name="keywords">
<meta content="RES.15-003 Shaping the Future of Work (15.662x) | Video: Emerging Forms of Work" name="Search_Display">
<meta content="Industrial Relations and Human Resource Management" itemprop="about">
<meta content="Industrial Organization" itemprop="about">
<meta content="Labor Economics" itemprop="about">
<meta content="Social Welfare" itemprop="about">
<!-- End Automatic Metadata Insertion --><link title="default" rel="stylesheet" type="text/css" href="../../../../../common/styles/grid.css">
<link title="default" rel="stylesheet" type="text/css" href="../../../../../common/styles/base.css">
<link title="default" rel="stylesheet" type="text/css" href="../../../../../common/styles/menu.css">
<link title="default" rel="stylesheet" type="text/css" href="../../../../../common/styles/jquery.bubblepopup.css">
<link title="default" rel="stylesheet" type="text/css" href="../../../../../common/styles/search.css">
<link title="default" rel="stylesheet" type="text/css" href="../../../../../common/styles/courses.css">
<link title="default" rel="stylesheet" type="text/css" href="../../../../../common/styles/courses_new.css">
<link title="default" rel="stylesheet" type="text/css" href="../../../../../common/styles/jquery.jscrollpane.css">
<link title="default" rel="stylesheet" type="text/css" href="../../../../../common/styles/media_tabs.css">
<link href="https://ocw.mit.edu/xml/ocwcc.rdf" type="application/rdf+xml" rel="metadata">
<link rel="canonical" href="https://ocw.mit.edu/resources/res-15-003-shaping-the-future-of-work-15-662x-spring-2016/new-emerging-models/new-firms-new-jobs-new-technology-and-the-future-of-work/video-emerging-forms-of-work/video-emerging-forms-of-work-0/">
<link rel="apple-touch-icon" href="../../../../../common/images/apple-touch-icon.png">
<script type="text/javascript" src="../../../../../common/scripts/jquery.js"></script><script type="text/javascript" src="../../../../../common/scripts/ocw-media-utils-offline.js"></script><script type="text/javascript" src="../../../../../common/scripts/ocw-offline.js"></script><script type="text/javascript" src="../../../../../common/scripts/jquery.bubblepopup.min.js"></script><script type="text/javascript" src="../../../../../common/scripts/jquery-ui.min.js"></script><script type="text/javascript" src="../../../../../common/scripts/jquery.jscrollpane.min.js"></script><script type="text/javascript" src="../../../../../common/scripts/expandy.js"></script><script type="text/javascript" src="../../../../../common/scripts/bubble-popup-offline.js"></script><script type="text/javascript">
      $(document).ready(function() {
        $("#tabs").tabs();
        IpadScroller();
      });
    </script>
</head>
<body>
<div id="fbQuote" name="fbQuote">
        <script>
          window.fbAsyncInit = function() {
            FB.init({
              appId            : '549343822066688',
              autoLogAppEvents : true,
              xfbml            : true,
              version          : 'v2.11'
            });
	        FB.AppEvents.logEvent('Share',1);
          };
          (function(d, s, id){
             var js, fjs = d.getElementsByTagName(s)[0];
             if (d.getElementById(id)) {return;}
             js = d.createElement(s); js.id = id;
             js.src = "//connect.facebook.net/en_US/sdk.js";
             fjs.parentNode.insertBefore(js, fjs);
           }(document, 'script', 'facebook-jssdk'));
        </script>
</div>


        
        
        

        
        
        
        
        
        
        
        
        
      
    
        
	

        <header id="top"><div id="grid">
				
				
					
<div id="portletwrapper-6f63772e746f70706f72746c65746d616e616765720a636f6e746578740a2f506c6f6e650a736974652d686561646572" class="portletWrapper kssattr-portlethash-6f63772e746f70706f72746c65746d616e616765720a636f6e746578740a2f506c6f6e650a736974652d686561646572">
<div class="portletStaticText portlet-static-site-header">
<!--googleoff: index-->
<div class="grid_6 alpha" id="banner"><a href="https://ocw.mit.edu/"><img src="../../../../../common/images/ocw_mast.png" class="logo" alt="MIT OpenCourseWare, Massachusetts Institute of Technology"></a></div>
<div class="grid_6 omega" id="subscribe">
<aside class="module" aria-label="Connect with OCW"><table class="social"><tbody><tr>
<td class="socialbutton"><a aria-label="Subscribe to the OCW Newsletter" href="https://ocw.mit.edu/subscribe/index.htm?utm_source=header"><img src="../../../../../common/images/trans.gif" alt="An icon depicting an envelope.">Subscribe to the OCW Newsletter</a></td>
            <td>
<a aria-label="Facebook" href="https://facebook.com/mitocw"><img src="../../../../../common/images/icon_fb.png" alt="Click to visit our Facebook page."></a>   <a aria-label="Twitter" href="https://twitter.com/mitocw"><img src="https://ocw.mit.edu/images/icon_twitter.png" alt="Click to visit our Twitter feed."></a>   <a aria-label="YouTube" href="https://www.youtube.com/mitocw"><img src="https://ocw.mit.edu/images/icon_yt.png" alt="Click to visit our YouTube page."></a>   <a aria-label="Open Matters blog on WordPress" href="https://mitopencourseware.wordpress.com/"><img src="https://ocw.mit.edu/images/icon_wp.png" alt="Click to visit our blog on WordPress."></a>
</td>
        </tr></tbody></table></aside><nav aria-label="Help Links" class="helplinks"><a aria-label="OCW Site Help" href="https://ocw.mit.edu/help">Help</a><span aria-hidden="true">|</span>     <a href="../../../../../common/jsp/feedback.htm">Contact Us</a>   </nav>
</div>
<div class="clear"> </div>
<!--googleon: index-->
</div>

</div>

<div id="portletwrapper-6f63772e746f70706f72746c65746d616e616765720a636f6e746578740a2f506c6f6e650a6d6567612d6d656e75" class="portletWrapper kssattr-portlethash-6f63772e746f70706f72746c65746d616e616765720a636f6e746578740a2f506c6f6e650a6d6567612d6d656e75">
<div class="portletStaticText portlet-static-mega-menu"><div><nav id="mega" class="grid_8 alpha" aria-label="Site"><ul id="menu" role="presentation">
<li id="menu_home">
<a href="https://ocw.mit.edu/" aria-label="Homepage"><img src="../../../../../common/images/top-nav_home.png" class="home_icon" alt="Click for site home page."></a><!-- Begin Home Item -->
</li>
    <!-- End Home Item -->
    <li id="drop_1" aria-label="Find Courses">
<a href="#" aria-hidden="true">FIND COURSES</a><!-- Begin 5 columns Item -->
    <div class="dropdown_5columns-a mega-courses">
    <div class="col_1a">
    <div class="row_1a">
<nav aria-labelledby="mm-find-courses-by"><span id="mm-find-courses-by" class="nav" aria-hidden="true">Find courses by:</span>
    <ul class="find_by" role="presentation">
<li><a href="https://ocw.mit.edu/courses/find-by-topic/">Topic</a></li>
        <li><a href="https://ocw.mit.edu/courses/find-by-number/">MIT Course Number</a></li>
        <li><a href="https://ocw.mit.edu/courses/find-by-department/">Department</a></li>
    </ul></nav><nav aria-labelledby="mm-collections"><span id="mm-collections" class="nav" aria-hidden="true">Collections</span>
    <ul role="presentation">
<li><a href="https://ocw.mit.edu/courses/new-courses/">New Courses</a></li>
        <li><a href="https://ocw.mit.edu/courses/most-visited-courses/">Most Visited Courses</a></li>
        <li><a href="https://ocw.mit.edu/courses/ocw-scholar/">OCW Scholar Courses</a></li>
        <li><a href="https://ocw.mit.edu/courses/audio-video-courses/">Audio/Video Lectures</a></li>
        <li><a href="https://ocw.mit.edu/courses/online-textbooks/">Online Textbooks</a></li>
        <li><a href="https://ocw.mit.edu/resources/">Supplemental Resources</a></li>
        <li><a href="https://ocw.mit.edu/high-school/">OCW Highlights for High School</a></li>
        <li><a href="https://ocw.mit.edu/courses/mitx-related-courseware/">MITx &amp; Related OCW Courses</a></li>
    </ul></nav><nav class="col_1b" aria-labelledby="mm-translated-courses"><span id="mm-translated-courses" class="nav" aria-hidden="true" style="line-height: 1.3;">Cross-Disciplinary Topic Lists</span>
    <ul role="presentation">
<li><a href="https://ocw.mit.edu/courses/energy-courses">Energy</a></li>
        <li><a href="https://ocw.mit.edu/courses/entrepreneurship">Entrepreneurship</a></li>
        <li><a href="https://ocw.mit.edu/courses/environment-courses">Environment</a></li>
        <li><a href="https://ocw.mit.edu/courses/intro-programming">Introductory Programming</a></li>
        <li><a href="https://ocw.mit.edu/courses/life-sciences">Life Sciences</a></li>
        <li><a href="https://ocw.mit.edu/courses/transportation-courses">Transportation</a></li>
    </ul></nav>
</div>
    <div class="row_1b"><nav aria-labelledby="mm-cross-disciplinary-topic-lists"><span id="mm-cross-disciplinary-topic-lists" class="nav" aria-hidden="true">Translated Courses</span>
    <ul role="presentation">
<li><a href="https://ocw.mit.edu/courses/translated-courses/traditional-chinese" aria-label="Traditional Chinese">繁體字 / Traditional Chinese</a></li>
        <li><a href="https://ocw.mit.edu/courses/translated-courses/spanish" aria-label="Spanish">Español / Spanish</a></li>
        <li><a href="https://ocw.mit.edu/courses/translated-courses/turkish" aria-label="Turkish">Türkçe / Turkish</a></li>
        <li><a href="https://ocw.mit.edu/courses/translated-courses/korean" aria-label="Korean">(비디오)한국 / Korean</a></li>
    </ul></nav></div>
    </div>
    </div>
    </li>
    <li id="drop_2">
<a href="#" aria-label="For Educators">For Educators</a>
    <div class="dropdown_1column-a" style="width: 270px;"><nav aria-labelledby="mm-find-courses-by"><span id="mm-find-courses-by" class="nav" aria-hidden="true">OCW Educator Portal</span>
    <ul role="presentation">
<li><a href="https://ocw.mit.edu/educator/?view=instructional&amp;utm_campaign=Educator&amp;utm_source=megamenu&amp;utm_medium=find-courses&amp;utm_content=approaches">Search for Instructor Insights</a></li>
        <li><a href="https://ocw.mit.edu/educator/?view=teaching&amp;utm_campaign=Educator&amp;utm_source=megamenu&amp;utm_medium=find-courses&amp;utm_content=materials">Search for Teaching Materials</a></li>
    </ul>
<span id="mm-collections" class="nav" aria-hidden="true">OCW Collections</span>
    <ul role="presentation">
<li><a href="https://ocw.mit.edu/courses/instructor-insights/">Instructor Insights by Department</a></li>
        <li><a href="https://ocw.mit.edu/courses/find-by-topic/#cat=teachingandeducation">MIT Courses about Teaching and Education</a></li>
    </ul>
<span id="mm-collections" class="nav" aria-hidden="true">K-12</span>
    <ul role="presentation">
<li><a href="https://ocw.mit.edu/high-school/">OCW Highlights for High School</a></li>
        <li><a href="https://www.k12videos.mit.edu/videos" aria-label="External Link: MIT Plus K12 Videos">MIT+K12 Videos</a></li>
    </ul>
<span id="mm-higher-ed" class="nav" aria-hidden="true">Higher Ed</span>
    <ul>
<li><a href="https://teachingexcellence.mit.edu/" aria-label="External Link: Teaching Excellence at MIT">Teaching Excellence at MIT</a></li>
        <li><a href="https://ocw.mit.edu/courses/mit-curriculum-guide/">MIT Undergraduate Curriculum Map</a></li>
    </ul></nav></div>
    </li>
    <li id="drop_3">
<a href="#" aria-hidden="true">Give Now</a>
    <div class="dropdown_1column-a"><nav class="col_1" aria-label="Donate"><ul role="presentation">
<li><a href="https://ocw.mit.edu/give/">Make a Donation</a></li>
        <li><a href="https://ocw.mit.edu/give/why-give/">Why Give?</a></li>
        <li><a href="https://ocw.mit.edu/give/our-supporters/">Our Supporters</a></li>
        <li><a href="https://ocw.mit.edu/give/other-ways-to-contribute/">Other Ways to Contribute</a></li>
        <li><a href="https://ocw.mit.edu/give/shop-ocw">Shop OCW</a></li>
        <li><a href="https://ocw.mit.edu/support/">Become a Corporate Sponsor</a></li>
    </ul></nav></div>
    </li>
    <li id="drop_4">
<a href="#" aria-hidden="true">About</a>
    <div class="dropdown_1column-a"><nav class="col_1" aria-label="About"><ul role="presentation">
<li><a href="https://ocw.mit.edu/about/">About MIT OpenCourseWare</a></li>
        <li><a href="https://ocw.mit.edu/about/site-statistics/">Site Statistics</a></li>
        <li><a href="https://ocw.mit.edu/about/ocw-stories/">OCW Stories</a></li>
        <li><a href="https://ocw.mit.edu/about/newsletter/">News</a></li>
    </ul></nav></div>
    </li>
</ul></nav></div></div>

</div>





<!--googleoff: index-->
<script>
  (function() {
	var cx = '012626166551961672889:owjdpuboktq';
	var gcse = document.createElement('script');
	gcse.type = 'text/javascript';
	gcse.async = true;
	gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
	var s = document.getElementsByTagName('script')[0];
	s.parentNode.insertBefore(gcse, s);
  })();
  window.onload = function(){
	document.getElementById('gsc-i-id1').placeholder = 'Search';	
  };

$(document).ready(function(){

$('.advanceSearch a').keydown(function(event){showSearchTips($(this),event);})
$('#searchTipsModal').keydown(function(event){showSearchTips($(this),event);})

function showSearchTips(obj,evt) {
// if pressed enter key
	if ( evt.which == 13 || evt.which == 32) {
		showModal();
		ga('send', 'pageview', "AdvanceSearch");
		$(".advanceSearch a").attr('aria-expanded', 'true');
		$('.searchTipsModal').focus();
		evt.preventDefault();
		}
	if ( evt.which == 27 ) {
		hideModal();
		$(".advanceSearch a").attr('aria-expanded', 'false');
		var modal = document.getElementById('searchTipsModal');
		modal.style.display = "none";
		$(".advanceSearch a").focus();
		evt.preventDefault();
		}
}

});
function showModal(){
	var modal = document.getElementById('searchTipsModal');
	modal.style.display = "block";
	ga('send', 'pageview', "AdvanceSearch");
	document.getElementById("searchTipsBtn").setAttribute("aria-expanded", true);
	window.setTimeout(function () {
    document.getElementById('searchTipsModal').focus(); }, 0);
}

function hideModal(){
	var modal = document.getElementById('searchTipsModal');
	modal.style.display = "none";
	document.getElementById("searchTipsBtn").setAttribute("aria-expanded", false);
}
</script><div id="search" role="search" class="grid_4 omega">
    	<table class="search"><tbody><tr>
<td><div class="searchboxheader"><searchbox-only resultsurl="/search/ocwsearch.htm"></searchbox-only></div></td>
						<td>
							<div class="advanceSearch">
								<a id="searchTipsBtn" onclick="showModal();" href="#" role="button" aria-label="search tips" aria-expanded="false" aria-describedby="searchtips">Search Tips</a>

								<!-- The Modal -->
								<div id="searchTipsModal" class="modal" tabindex="-1">
								  <!-- Modal content -->
									<div class="modal-content">
										<div class="modal-body">
											<button class="close" onclick="hideModal();" aria-label="close">X</button>
											<span>
												<b>Exclude words from your search</b>
												<br>Put - in front of a word you want to leave out. For example, jaguar speed -car
												<br><br><b>Search for an exact match</b>
												<br>Put a word or phrase inside quotes. For example, "tallest building".
												<br><br><b>Search for wildcards or unknown words</b>
												<br>Put a * in your word or phrase where you want to leave a placeholder. For example, "largest * in the world".
												<br><br><b>Search within a range of numbers</b>
												<br>Put .. between two numbers. For example, camera $50..$100.
												<br><br><b>Combine searches</b>
												<br>Put "OR" between each search query. For example,  marathon OR race.
												<br><br></span>
										</div>
								  </div>
								</div>
							</div>
						</td>
					</tr></tbody></table>
</div>
<div class="clear"></div>
<!--googleon: index-->
<!-- *end header* -->

				
				
			</div>
<!-- top grid end -->
		</header><!-- top end --><div id="center_media">
      	<div id="grid">
      		<div id="left">
        		<nav id="breadcrumb_media" aria-label="Breadcrumb"><p>

    <a href="https://ocw.mit.edu/">Home</a>
    
        »
        
    
    
        
            <a href="https://ocw.mit.edu/resources">Supplemental Resources</a>
            
                »
                
            
            
         
    
    
        
            <a href="../../../../../contents/index.htm">Shaping the Future of Work (15.662x)</a>
            
                »
                
            
            
         
    
    
        
            <a href="../../../../../contents/new-emerging-models/index.htm">Week 4: New Emerging Models</a>
            
                »
                
            
            
         
    
    
        
            <a href="../../../../../contents/new-emerging-models/new-firms-new-jobs-new-technology-and-the-future-of-work/index.htm">4.1 New Firms, New Jobs, New Technology, and the Future of Work</a>
            
                »
                
            
            
         
    
    
        
            <a href="../../../../../contents/new-emerging-models/new-firms-new-jobs-new-technology-and-the-future-of-work/video-emerging-forms-of-work/index.htm">4.1.3 Video: Emerging Forms of Work</a>
            
                »
                
            
            
         
    
    
        
            
            
            Video: Emerging Forms of Work
         
    
</p>

            	</nav><div class="clear"></div>
        		<div id="media_title">
        		<h1 class="title" itemprop="name" property="dct:title">
        <span class="" id="parent-fieldname-title">
            Video: Emerging Forms of Work
        </span>
    </h1>
        		</div>
           		<div class="clear"></div>
           		<div id="course_wrapper_media">
           			<nav id="course_nav" aria-label="Course"><script language="javascript" type="text/javascript">
function toggleMenu(objID) {
  if (!document.getElementById) return;
  var ob = document.getElementById(objID);
  ob.className = (ob.className == 'selected')?'': 'selected';
}
function toggleClass(id)
{
  var divtoggleClass= document.getElementById(id);
  divtoggleClass.className = (divtoggleClass.className == 'mO')?'mC': 'mO';
  return false;
}
function changeAlt(id)
{
  id.alt = (id.alt == 'Expand Menu')?'Collapse Menu' : 'Expand Menu';
  id.title = (id.title == 'Expand Menu')?'Collapse Menu' : 'Expand Menu';
}
</script><!--Left Nav Starts --><ul>
<li class="">
			   			<a href="../../../../../contents/index.htm">
		                  Resource Home  			                
	                    </a>
		        </li>
		    
         	
	
	
	    	
	    	    <li class="">
			   			<a href="../../../../../contents/syllabus/index.htm">
		                  Syllabus  			                
	                    </a>
		        </li>
		    
         	
	
	
	    	
         	<li class="">
       		<div class="tlp_links">
	        	<div id="instructor-insights" class="mO">
						<a href="#" class="" onclick="toggleMenu('menuinstructor-insights'); toggleClass('instructor-insights'); return false">
		                  <img src="../../../../../common/images/trans.gif" class="expandCollapseTrans" border="0" width="10" height="12" onclick="changeAlt(this)" alt="Expand Menu" title="Expand Menu"></a>
		                <a href="../../../../../contents/instructor-insights/index.htm" class="">
		                  Instructor Insights  			                
	                    </a>
	                 			                
	            </div>
			    
	        	<ul id="menuinstructor-insights" class="">
<li class="">
				 		<a href="../../../../../contents/instructor-insights/teaching-online-to-improve-residential-education/index.htm" class="">Teaching Online to Improve Residential Education</a>
		            </li>
		            <li class="">
				 		<a href="../../../../../contents/instructor-insights/adapting-content-communicating-differently/index.htm" class="">Adapting Content, Communicating Differently</a>
		            </li>
		            <li class="">
				 		<a href="../../../../../contents/instructor-insights/valuing-the-contributions-of-others/index.htm" class="">Valuing the Contributions of Others</a>
		            </li>
		            <li class="">
				 		<a href="../../../../../contents/instructor-insights/assessment-in-an-online-course/index.htm" class="">Assessment in an Online Course</a>
		            </li>
		            <li class="">
				 		<a href="../../../../../contents/instructor-insights/reaching-audiences-more-effectively/index.htm" class="">Reaching Audiences More Effectively</a>
		            </li>
			    </ul>
</div>
			</li>
	
	
	    	
	    	    <li class="">
			   			<a href="../../../../../contents/resource-index/index.htm">
		                  Resource Index  			                
	                    </a>
		        </li>
		    
         	
	
	
	    	
	    	    <li class="">
			   			<a href="../../../../../contents/readings/index.htm">
		                  Readings  			                
	                    </a>
		        </li>
		    
         	
	
	
	    	
         	<li class="">
       		<div class="tlp_links">
	        	<div id="assignments" class="mO">
						<a href="#" class="" onclick="toggleMenu('menuassignments'); toggleClass('assignments'); return false">
		                  <img src="../../../../../common/images/trans.gif" class="expandCollapseTrans" border="0" width="10" height="12" onclick="changeAlt(this)" alt="Expand Menu" title="Expand Menu"></a>
		                <a href="../../../../../contents/assignments/index.htm" class="">
		                  Assignments  			                
	                    </a>
	                 			                
	            </div>
			    
	        	<ul id="menuassignments" class="">
<li class="">
				 		<a href="../../../../../contents/assignments/assignments-week1/index.htm" class="">Week 1 Assignments</a>
		            </li>
		            <li class="">
				 		<a href="../../../../../contents/assignments/assignments-week2/index.htm" class="">Week 2 Assignments</a>
		            </li>
		            <li class="">
				 		<a href="../../../../../contents/assignments/assignments-week3/index.htm" class="">Week 3 Assignments</a>
		            </li>
		            <li class="">
				 		<a href="../../../../../contents/assignments/assignments-week4/index.htm" class="">Week 4 Assignments</a>
		            </li>
		            <li class="">
				 		<a href="../../../../../contents/assignments/assignments-week6/index.htm" class="">Week 6 Assignments</a>
		            </li>
			    </ul>
</div>
			</li>
	
	
	    	
         	<li class="">
       		<div class="tlp_links">
	        	<div id="introduction-challenges-and-opportunities" class="mO">
						<a href="#" class="" onclick="toggleMenu('menuintroduction-challenges-and-opportunities'); toggleClass('introduction-challenges-and-opportunities'); return false">
		                  <img src="../../../../../common/images/trans.gif" class="expandCollapseTrans" border="0" width="10" height="12" onclick="changeAlt(this)" alt="Expand Menu" title="Expand Menu"></a>
		                <a href="../../../../../contents/introduction-challenges-and-opportunities/index.htm" class="">
		                  Week 1: Introduction: Challenges and Opportunities  			                
	                    </a>
	                 			                
	            </div>
			    
	        	<ul id="menuintroduction-challenges-and-opportunities" class="">
<li class="">
				 		<a href="../../../../../contents/introduction-challenges-and-opportunities/introduction-to-the-course-and-the-15-662x-team/index.htm" class="">1.1 Introduction to the Course and the 15.662x Team</a>
		            </li>
		            <li class="">
				 		<a href="../../../../../contents/introduction-challenges-and-opportunities/challenges-and-opportunities-as-you-enter-the-workforce/index.htm" class="">1.2 Challenges and Opportunities as You Enter the Workforce</a>
		            </li>
		            <li class="">
				 		<a href="../../../../../contents/introduction-challenges-and-opportunities/for-more-information/index.htm" class="">1.3 For More Information...</a>
		            </li>
			    </ul>
</div>
			</li>
	
	
	    	
         	<li class="">
       		<div class="tlp_links">
	        	<div id="the-old-social-contract" class="mO">
						<a href="#" class="" onclick="toggleMenu('menuthe-old-social-contract'); toggleClass('the-old-social-contract'); return false">
		                  <img src="../../../../../common/images/trans.gif" class="expandCollapseTrans" border="0" width="10" height="12" onclick="changeAlt(this)" alt="Expand Menu" title="Expand Menu"></a>
		                <a href="../../../../../contents/the-old-social-contract/index.htm" class="">
		                  Week 2: The Old Social Contract  			                
	                    </a>
	                 			                
	            </div>
			    
	        	<ul id="menuthe-old-social-contract" class="">
<li class="">
				 		<a href="../../../../../contents/the-old-social-contract/what-made-the-old-social-contract-work-and-why-did-it-break-down/index.htm" class="">2.1 What Made the Old Social Contract Work and Why did It Break Down?</a>
		            </li>
		            <li class="">
				 		<a href="../../../../../contents/the-old-social-contract/for-more-information-0/index.htm" class="">2.2 For More Information...</a>
		            </li>
			    </ul>
</div>
			</li>
	
	
	    	
         	<li class="">
       		<div class="tlp_links">
	        	<div id="innovations-in-the-1980s-and-beyond" class="mO">
						<a href="#" class="" onclick="toggleMenu('menuinnovations-in-the-1980s-and-beyond'); toggleClass('innovations-in-the-1980s-and-beyond'); return false">
		                  <img src="../../../../../common/images/trans.gif" class="expandCollapseTrans" border="0" width="10" height="12" onclick="changeAlt(this)" alt="Expand Menu" title="Expand Menu"></a>
		                <a href="../../../../../contents/innovations-in-the-1980s-and-beyond/index.htm" class="">
		                  Week 3: Innovations in the 1980s and Beyond  			                
	                    </a>
	                 			                
	            </div>
			    
	        	<ul id="menuinnovations-in-the-1980s-and-beyond" class="">
<li class="">
				 		<a href="../../../../../contents/innovations-in-the-1980s-and-beyond/out-of-crisis-innovations-in-the-1980s-and-beyond/index.htm" class="">3.1 Out of Crisis: Innovations in the 1980s and Beyond</a>
		            </li>
		            <li class="">
				 		<a href="../../../../../contents/innovations-in-the-1980s-and-beyond/around-the-world-1/index.htm" class="">3.2 Around the World</a>
		            </li>
		            <li class="">
				 		<a href="../../../../../contents/innovations-in-the-1980s-and-beyond/for-more-information-1/index.htm" class="">3.3 For More Information...</a>
		            </li>
			    </ul>
</div>
			</li>
	
	
	    	
         	<li class="">
       		<div class="tlp_links">
	        	<div id="new-emerging-models" class="mC">
						<a href="#" class="" onclick="toggleMenu('menunew-emerging-models'); toggleClass('new-emerging-models'); return false">
		                  <img src="../../../../../common/images/trans.gif" class="expandCollapseTrans" border="0" width="10" height="12" onclick="changeAlt(this)" alt="Collapse Menu" title="Collapse Menu"></a>
		                <a href="../../../../../contents/new-emerging-models/index.htm" class="">
		                  Week 4: New Emerging Models  			                
	                    </a>
	                 			                
	            </div>
			    
	        	<ul id="menunew-emerging-models" class="selected">
<li class="selected">
				 		<a href="../../../../../contents/new-emerging-models/new-firms-new-jobs-new-technology-and-the-future-of-work/index.htm" class="selected">4.1 New Firms, New Jobs, New Technology, and the Future of Work</a>
		            </li>
			    </ul>
</div>
			</li>
	
	
	    	
         	<li class="">
       		<div class="tlp_links">
	        	<div id="the-worker-voice-and-advocacy" class="mO">
						<a href="#" class="" onclick="toggleMenu('menuthe-worker-voice-and-advocacy'); toggleClass('the-worker-voice-and-advocacy'); return false">
		                  <img src="../../../../../common/images/trans.gif" class="expandCollapseTrans" border="0" width="10" height="12" onclick="changeAlt(this)" alt="Expand Menu" title="Expand Menu"></a>
		                <a href="../../../../../contents/the-worker-voice-and-advocacy/index.htm" class="">
		                  Week 5: The Worker Voice and Advocacy  			                
	                    </a>
	                 			                
	            </div>
			    
	        	<ul id="menuthe-worker-voice-and-advocacy" class="">
<li class="">
				 		<a href="../../../../../contents/the-worker-voice-and-advocacy/emerging-models-of-worker-voice-and-advocacy/index.htm" class="">5.1 Emerging Models of Worker Voice and Advocacy</a>
		            </li>
		            <li class="">
				 		<a href="../../../../../contents/the-worker-voice-and-advocacy/for-more-information-2/index.htm" class="">5.2 For More Information...</a>
		            </li>
			    </ul>
</div>
			</li>
	
	
	    	
         	<li class="">
       		<div class="tlp_links">
	        	<div id="the-social-contract-negotiation-exercise" class="mO">
						<a href="#" class="" onclick="toggleMenu('menuthe-social-contract-negotiation-exercise'); toggleClass('the-social-contract-negotiation-exercise'); return false">
		                  <img src="../../../../../common/images/trans.gif" class="expandCollapseTrans" border="0" width="10" height="12" onclick="changeAlt(this)" alt="Expand Menu" title="Expand Menu"></a>
		                <a href="../../../../../contents/the-social-contract-negotiation-exercise/index.htm" class="">
		                  Week 6: The Social Contract Negotiation Exercise  			                
	                    </a>
	                 			                
	            </div>
			    
	        	<ul id="menuthe-social-contract-negotiation-exercise" class="">
<li class="">
				 		<a href="../../../../../contents/the-social-contract-negotiation-exercise/social-contract-negotiations-exercise/index.htm" class="">6.1 Social Contract Negotiations Exercise</a>
		            </li>
			    </ul>
</div>
			</li>
	
	
	    	
         	<li class="">
       		<div class="tlp_links">
	        	<div id="student-reports-on-their-plans-for-action" class="mO">
						<a href="#" class="" onclick="toggleMenu('menustudent-reports-on-their-plans-for-action'); toggleClass('student-reports-on-their-plans-for-action'); return false">
		                  <img src="../../../../../common/images/trans.gif" class="expandCollapseTrans" border="0" width="10" height="12" onclick="changeAlt(this)" alt="Expand Menu" title="Expand Menu"></a>
		                <a href="../../../../../contents/student-reports-on-their-plans-for-action/index.htm" class="">
		                  Week 7: Student Reports on Their Plans for Action  			                
	                    </a>
	                 			                
	            </div>
			    
	        	<ul id="menustudent-reports-on-their-plans-for-action" class="">
<li class="">
				 		<a href="../../../../../contents/student-reports-on-their-plans-for-action/live-event-presentation/index.htm" class="">7.1 Live Event Presentation</a>
		            </li>
			    </ul>
</div>
			</li>
	
	
	    	
	    	    
		    
         	
	<!--second tal block close-->  
	
</ul>
<!--Left Nav Ends --></nav><main id="course_inner_media" aria-labelledby="media_title"><div class="" id="parent-fieldname-text">
            
            
        </div>
    
      					     
    
    



<script type="text/javascript">var caption_embed_1 ={'English - US': '/resources/res-15-003-shaping-the-future-of-work-15-662x-spring-2016/new-emerging-models/new-firms-new-jobs-new-technology-and-the-future-of-work/video-emerging-forms-of-work/video-emerging-forms-of-work-0/xDoe1HvHfbM.srt'}</script><div id="media-embed">
         <div class="attention_message" id="embed_1">
<p>Flash and JavaScript are required for this feature.</p>
<p>Download the video from <a href="https://itunes.apple.com/us/itunes-u/id1210098516">iTunes U</a> or the <a href="https://archive.org/download/MITRES.15-003S16/MITRES_15_003S16_4-1-3_360p.mp4">Internet Archive</a>.</p>
</div>
     </div>
    
     <script type="text/javascript">ocw_embed_chapter_media('embed_1', 'https://www.youtube.com/v/xDoe1HvHfbM', 'youtube', '/resources/res-15-003-shaping-the-future-of-work-15-662x-spring-2016/new-emerging-models/new-firms-new-jobs-new-technology-and-the-future-of-work/video-emerging-forms-of-work/video-emerging-forms-of-work-0', 'https://img.youtube.com/vi/xDoe1HvHfbM/0.jpg',0,0, 'https://ocw.mit.edu/resources/res-15-003-shaping-the-future-of-work-15-662x-spring-2016/new-emerging-models/new-firms-new-jobs-new-technology-and-the-future-of-work/video-emerging-forms-of-work/video-emerging-forms-of-work-0/xDoe1HvHfbM.srt')</script><div id="transcript1"></div>
				 <script type="text/javascript">createThreePlayParams(2, 1511449, "embed_1", 0, 0)</script><script type="text/javascript">
		window.onload=function(){
		init();
		
		}
		var tabLinks = new Array();
		var contentDivs = new Array();
		function init() {
		  // Grab the tab links and content divs from the page
		  var tabListItems = document.getElementById('tabs').childNodes;
		  for ( var i = 0; i < tabListItems.length; i++ ) {
			if ( tabListItems[i].nodeName == "LI" ) {
			  var tabLink = getFirstChildWithTagName( tabListItems[i], 'A' );
			  var id = getHash( tabLink.getAttribute('href') );
			  tabLinks[id] = tabLink;
			  contentDivs[id] = document.getElementById( id );
			}
		  }
		  // Assign onclick events to the tab links, and
		  // highlight the first tab
		  var i = 0;
		  for ( var id in tabLinks ) {
			tabLinks[id].onclick = showTab;
			tabLinks[id].onfocus = function() { this.blur() };
			if ( i == 0 ) tabLinks[id].className = 'selected';
			i++;
		  }
		  // Hide all content divs except the first
		  var i = 0;
		  for ( var id in contentDivs ) {
			if ( i != 0 ) contentDivs[id].className = 'tabContent hide';
			i++;
		  }
		}
		function showTab() {
		  var selectedId = getHash( this.getAttribute('href') );
		  // Highlight the selected tab, and dim all others.
		  // Also show the selected content div, and hide all others.
		  for ( var id in contentDivs ) {
			if ( id == selectedId ) {
			  tabLinks[id].className = 'selected';
			  contentDivs[id].className = 'tabContent';
			} else {
			  tabLinks[id].className = '';
			  contentDivs[id].className = 'tabContent hide';
			}
		  }
		  // Stop the browser following the link
		  return false;
		}
		function getFirstChildWithTagName( element, tagName ) {
		  for ( var i = 0; i < element.childNodes.length; i++ ) {
			if ( element.childNodes[i].nodeName == tagName ) return element.childNodes[i];
		  }
		}
		function getHash( url ) {
		  var hashPos = url.lastIndexOf ( '#' );
		  return url.substring( hashPos + 1 );
		}
 </script><div id="media_tabs">
     
        <ul id="tabs">
<li class="first">
                <a href="#vid_about" class="selected">About this Video</a>
            </li>
            <li class="">
                <a href="#vid_index" class="">Transcript</a>
            </li>
            <li class="">
                <a href="#vid_playlist" class="">Download this Video</a>
            </li>
        </ul>
<div id="vid_about" itemprop="description" class="tabContent">
<p><strong>Description</strong>: John McCarthy talks about new, technology-mediated work arrangements like Uber and TaskRabbit.com.</p>
<p><strong>Instructor</strong>: John McCarthy</p>
</div>
        <div id="vid_index" itemprop="description" class="tabContent hide">
<ul><li><a class="transcript-link" title="Open in a new window." alt="Open in a new window." style="text-decoration: none; font-size: 1.0em;" target="_blank" text-decoration: none font-size: href="../../../../../contents/new-emerging-models/new-firms-new-jobs-new-technology-and-the-future-of-work/video-emerging-forms-of-work/video-emerging-forms-of-work-0/xDoe1HvHfbM.pdf"> Download English-US transcript (PDF)</a></li></ul>
<p><span m="10210">The</span> <span m="10260">way</span> <span m="10450">we</span> <span m="10600">have</span> <span m="10780">talked</span> <span m="11170">about</span> <span m="11650">the</span> <span m="11830">rise</span> <span m="12310">of</span> <span m="12390">the</span> <span m="12480">social</span> <span m="12900">contract</span> <span m="13520">following</span> <span m="14040">the</span> <span m="14130">Second</span> <span m="14530">World</span> <span m="14770">War</span> <span m="15280">might</span> <span m="15710">make</span> <span m="15890">it</span> <span m="16030">seem</span> <span m="16230">a</span> <span m="16280">little</span> <span m="16460">bit</span> <span m="16660">more</span> <span m="16920">utopian</span> <span m="17590">than</span> <span m="17710">was</span> <span m="17870">actually</span> <span m="18240">the</span> <span m="18370">case.</span> <span m="19260">Wages</span> <span m="20300">did</span> <span m="20510">rise</span> <span m="20900">in</span> <span m="21020">tandem</span> <span m="21550">with</span> <span m="21750">productivity,</span> <span m="22650">and</span> <span m="22870">this</span> <span m="23060">meant</span> <span m="23470">a</span> <span m="23630">high</span> <span m="23940">standard</span> <span m="24430">of</span> <span m="24530">living</span> <span m="24910">for</span> <span m="25060">many</span> <span m="25340">Americans.</span> <span m="26200">There</span> <span m="26440">was</span> <span m="26580">also</span> <span m="27230">less</span> <span m="27630">emphasis</span> <span m="28140">on</span> <span m="28450">shareholders</span> <span m="29250">and</span> <span m="29350">immediate</span> <span m="29780">short</span> <span m="30080">term</span> <span m="30480">returns.</span> <span m="31140">There</span> <span m="31430">was</span> <span m="31790">also</span> <span m="32030">high</span> <span m="32180">levels</span> <span m="32509">of</span> <span m="32740">job</span> <span m="33100">stability.</span> <span m="33700">People</span> <span m="34050">often</span> <span m="34580">came</span> <span m="34970">into</span> <span m="35190">a</span> <span m="35270">company</span> <span m="35620">without</span> <span m="35950">very</span> <span m="36140">much</span> <span m="36350">experience</span> <span m="36960">at</span> <span m="37140">all</span> <span m="37420">and</span> <span m="37490">expected</span> <span m="37910">to</span> <span m="38000">work</span> <span m="38330">their</span> <span m="38450">way</span> <span m="38670">up</span> <span m="39030">through</span> <span m="39410">promotions</span> <span m="40360">over</span> <span m="40720">time.</span> </p>
<p><span m="41880">But</span> <span m="42040">there</span> <span m="42140">we're</span> <span m="42290">also</span> <span m="42980">downsides</span> <span m="43880">to</span> <span m="44030">employment</span> <span m="44460">over</span> <span m="44610">this</span> <span m="44820">period.</span> <span m="45410">The</span> <span m="45740">trade</span> <span m="46060">off</span> <span m="46250">of</span> <span m="46390">job</span> <span m="46720">security,</span> <span m="47330">of</span> <span m="47420">having</span> <span m="47700">a</span> <span m="47760">stable</span> <span m="48200">career</span> <span m="48570">with</span> <span m="48740">a</span> <span m="48850">predictable</span> <span m="49780">career</span> <span m="50220">trajectory</span> <span m="50980">was</span> <span m="51290">often</span> <span m="51570">the</span> <span m="51660">risk</span> <span m="51960">of</span> <span m="52040">boredom</span> <span m="52570">and</span> <span m="52690">monotonous</span> <span m="53320">work.</span> <span m="54230">Corporations,</span> <span m="55800">in</span> <span m="55870">the</span> <span m="55940">1950s,</span> <span m="56840">were</span> <span m="57000">very</span> <span m="57320">hierarchical</span> <span m="57970">and</span> <span m="58060">conformist.</span> <span m="58950">Intellectual</span> <span m="59940">diversity</span> <span m="60580">and</span> <span m="60700">creativity</span> <span m="61520">were</span> <span m="61780">discouraged.</span> </p>
<p><span m="63080">These</span> <span m="63270">corporations,</span> <span m="64040">of</span> <span m="64230">course,</span> <span m="64590">we're</span> <span m="64720">also</span> <span m="65110">dominated</span> <span m="65800">by</span> <span m="65970">white</span> <span m="66250">men.</span> <span m="66530">There</span> <span m="66660">wasn't</span> <span m="67060">very</span> <span m="67260">much</span> <span m="67530">diversity,</span> <span m="68290">and</span> <span m="68500">there</span> <span m="68560">were</span> <span m="68690">very</span> <span m="69040">sizable</span> <span m="69570">gaps</span> <span m="69960">in</span> <span m="70100">pay</span> <span m="70640">based</span> <span m="71090">on</span> <span m="71480">gender</span> <span m="72000">and</span> <span m="72110">race.</span> <span m="72440">So</span> <span m="72850">while</span> <span m="73270">we</span> <span m="73390">can</span> <span m="73610">learn</span> <span m="73870">a</span> <span m="73940">lot</span> <span m="74270">from</span> <span m="74420">this</span> <span m="74600">period,</span> <span m="75230">it's</span> <span m="75460">not</span> <span m="75610">exactly</span> <span m="76100">a</span> <span m="76160">golden</span> <span m="76600">age</span> <span m="76890">to</span> <span m="77020">which</span> <span m="77220">we</span> <span m="77330">should</span> <span m="77520">return.</span> </p>
<p><span m="79570">We've</span> <span m="79740">made</span> <span m="80000">a</span> <span m="80060">lot</span> <span m="80310">of</span> <span m="80410">progress</span> <span m="81140">since</span> <span m="81460">this</span> <span m="81620">period</span> <span m="81920">as</span> <span m="82060">well.</span> <span m="82590">There's</span> <span m="82920">more</span> <span m="83110">diversity</span> <span m="83620">in</span> <span m="83710">the</span> <span m="83800">workforce</span> <span m="84330">than</span> <span m="84440">ever</span> <span m="84620">before.</span> <span m="85250">And</span> <span m="85490">pay</span> <span m="85700">gaps</span> <span m="86110">between</span> <span m="86460">demographic</span> <span m="87070">groups,</span> <span m="87640">though</span> <span m="87970">they</span> <span m="88100">still</span> <span m="88370">exist,</span> <span m="88760">are</span> <span m="88980">becoming</span> <span m="89640">smaller.</span> <span m="90560">With</span> <span m="91080">the</span> <span m="91180">rise</span> <span m="91590">of</span> <span m="91650">the</span> <span m="91770">knowledge</span> <span m="92240">economy</span> <span m="92730">moreover--</span> <span m="93340">an</span> <span m="93510">economy</span> <span m="94060">that</span> <span m="94240">encourages</span> <span m="95400">ideas</span> <span m="96260">and</span> <span m="96360">creativity</span> <span m="96990">and</span> <span m="97110">innovation--</span> <span m="97910">workers</span> <span m="98490">are</span> <span m="98580">being</span> <span m="98850">given</span> <span m="99120">more</span> <span m="99340">discretion</span> <span m="100140">in</span> <span m="100390">how</span> <span m="100680">they</span> <span m="100820">go</span> <span m="101000">about</span> <span m="101330">their</span> <span m="101480">work</span> <span m="101870">and</span> <span m="101990">even</span> <span m="102170">the</span> <span m="102290">types</span> <span m="102660">of</span> <span m="102780">projects</span> <span m="103580">on</span> <span m="103900">which</span> <span m="104100">they</span> <span m="104240">work.</span> </p>
<p><span m="105590">Some</span> <span m="105910">organizations</span> <span m="106750">are</span> <span m="107160">even</span> <span m="107520">trying</span> <span m="107820">to</span> <span m="107950">make</span> <span m="108180">themselves</span> <span m="108680">look</span> <span m="109040">and</span> <span m="109200">feel</span> <span m="109620">as</span> <span m="109770">non-corporate-y</span> <span m="110710">as</span> <span m="110910">possible</span> <span m="111660">as</span> <span m="111950">a</span> <span m="112010">way</span> <span m="112220">to</span> <span m="112400">attract</span> <span m="112910">and</span> <span m="113000">retain</span> <span m="113420">talent,</span> <span m="113860">and</span> <span m="113980">there's</span> <span m="114170">evidence</span> <span m="114760">that</span> <span m="115000">this</span> <span m="115180">can</span> <span m="115300">be</span> <span m="115410">good</span> <span m="115610">for</span> <span m="115720">the</span> <span m="115820">bottom</span> <span m="116140">line.</span> <span m="117040">In</span> <span m="117750">addition,</span> <span m="118250">due</span> <span m="118470">in</span> <span m="118570">large</span> <span m="118970">part</span> <span m="119300">to</span> <span m="119570">advances</span> <span m="120230">in</span> <span m="120340">information</span> <span m="120950">technology,</span> <span m="121940">new</span> <span m="122730">technology</span> <span m="123700">mediated</span> <span m="124390">work</span> <span m="124820">arrangements</span> <span m="125380">are</span> <span m="125480">becoming</span> <span m="125970">more</span> <span m="126250">popular</span> <span m="126870">and</span> <span m="127020">facilitating</span> <span m="127970">various</span> <span m="128610">forms</span> <span m="128960">of</span> <span m="129060">freelance</span> <span m="129669">work.</span> </p>
<p><span m="130340">Freelancing</span> <span m="131060">is</span> <span m="131210">not</span> <span m="131470">new</span> <span m="131660">of</span> <span m="131790">course.</span> <span m="132200">The</span> <span m="132400">word</span> <span m="132670">actually</span> <span m="133040">dates</span> <span m="133350">back</span> <span m="133680">to</span> <span m="133860">medieval</span> <span m="134310">times</span> <span m="134760">where</span> <span m="134880">one</span> <span m="135150">could</span> <span m="135300">be</span> <span m="135470">a</span> <span m="135550">freelance</span> <span m="136640">mercenary</span> <span m="137430">for</span> <span m="137600">hire.</span> <span m="138430">Various</span> <span m="139260">new</span> <span m="139370">websites</span> <span m="139980">and</span> <span m="140080">applications</span> <span m="140850">are</span> <span m="140980">springing</span> <span m="141570">up</span> <span m="141740">throughout</span> <span m="142010">the</span> <span m="142110">economy</span> <span m="142870">that</span> <span m="143200">connect</span> <span m="143620">people--</span> <span m="144060">buyers</span> <span m="144570">and</span> <span m="144700">sellers--</span> <span m="145150">in</span> <span m="145260">unique</span> <span m="145660">and</span> <span m="145790">innovative</span> <span m="146310">ways.</span> <span m="147030">So</span> <span m="147430">for</span> <span m="147600">software,</span> <span m="148120">for</span> <span m="148310">example,</span> <span m="148970">there's</span> <span m="149300">companies</span> <span m="149770">like</span> <span m="149970">freelancer.com</span> <span m="150890">where</span> <span m="151420">someone</span> <span m="151710">can</span> <span m="151870">go</span> <span m="152060">on</span> <span m="152290">and</span> <span m="152430">post</span> <span m="152740">a</span> <span m="152790">project,</span> <span m="153310">for</span> <span m="153460">example,</span> <span m="154070">solicit</span> <span m="154610">help</span> <span m="154900">coding</span> <span m="155250">a</span> <span m="155290">new</span> <span m="155440">website,</span> <span m="156240">and</span> <span m="156580">people</span> <span m="156800">will</span> <span m="156950">bid</span> <span m="157210">on</span> <span m="157340">those</span> <span m="157550">projects.</span> </p>
<p><span m="159160">I</span> <span m="159290">actually</span> <span m="159730">used</span> <span m="160080">one</span> <span m="160220">of</span> <span m="160270">these</span> <span m="160440">sites</span> <span m="161040">not</span> <span m="161440">for</span> <span m="161790">a</span> <span m="162020">website</span> <span m="162630">per</span> <span m="162770">se,</span> <span m="163070">but</span> <span m="163260">to</span> <span m="163340">help</span> <span m="163600">me</span> <span m="163720">learn</span> <span m="164100">a</span> <span m="164170">new</span> <span m="164350">coding</span> <span m="164700">language</span> <span m="165100">called</span> <span m="165360">Python.</span> <span m="165800">I</span> <span m="165840">went</span> <span m="166050">on</span> <span m="166160">the</span> <span m="166250">site.</span> <span m="166910">I</span> <span m="167350">posted</span> <span m="167780">my</span> <span m="167900">project.</span> <span m="168440">And</span> <span m="168520">I</span> <span m="168580">found</span> <span m="169190">an</span> <span m="169480">undergraduate</span> <span m="170130">student</span> <span m="170480">based</span> <span m="170760">in</span> <span m="170850">California--</span> <span m="171490">a</span> <span m="171520">very</span> <span m="171730">bright</span> <span m="172040">young</span> <span m="172270">man--</span> <span m="172730">who</span> <span m="173670">stayed</span> <span m="174220">up</span> <span m="174350">with</span> <span m="174500">me</span> <span m="174610">into</span> <span m="174790">the</span> <span m="174940">early</span> <span m="175230">hours</span> <span m="175590">of</span> <span m="175670">the</span> <span m="175750">morning</span> <span m="176200">helping</span> <span m="176650">me</span> <span m="176760">learn</span> <span m="177010">how</span> <span m="177150">to</span> <span m="177250">code.</span> </p>
<p><span m="178380">And</span> <span m="178520">there</span> <span m="178660">are</span> <span m="178880">plenty</span> <span m="179280">of</span> <span m="179390">other</span> <span m="179620">examples</span> <span m="180170">of</span> <span m="180320">technology</span> <span m="181160">mediated</span> <span m="181700">work--</span> <span m="182220">Mechanical</span> <span m="182900">Turk,</span> <span m="183210">for</span> <span m="183320">example,</span> <span m="183780">where</span> <span m="183910">buyers</span> <span m="184350">can</span> <span m="184510">pay</span> <span m="184730">people</span> <span m="185060">to</span> <span m="185140">do</span> <span m="185260">basic,</span> <span m="185710">often</span> <span m="186240">routine</span> <span m="186770">tasks</span> <span m="187360">like</span> <span m="187590">taking</span> <span m="187920">surveys.</span> <span m="188730">Taskrabbit.com,</span> <span m="190090">where</span> <span m="190190">people</span> <span m="190480">can</span> <span m="190650">find</span> <span m="190890">people</span> <span m="191150">to</span> <span m="191250">do</span> <span m="191590">basic</span> <span m="192160">life</span> <span m="192430">chores</span> <span m="192800">for</span> <span m="192900">them.</span> <span m="193330">And</span> <span m="193690">care.com,</span> <span m="194470">where</span> <span m="194570">people</span> <span m="194870">can</span> <span m="195020">locate,</span> <span m="195540">for</span> <span m="195650">example,</span> <span m="196250">house</span> <span m="196690">and</span> <span m="196830">pet</span> <span m="197090">sitters</span> <span m="197420">for</span> <span m="197560">when</span> <span m="197740">they</span> <span m="197860">are</span> <span m="198020">away.</span> </p>
<p><span m="199210">These</span> <span m="199600">alternative</span> <span m="200260">modes</span> <span m="200630">of</span> <span m="200750">employment</span> <span m="201290">have</span> <span m="201620">distinct</span> <span m="202240">advantages</span> <span m="202950">in</span> <span m="203070">terms</span> <span m="203400">of</span> <span m="203510">flexibility</span> <span m="204350">and</span> <span m="204460">individual</span> <span m="204960">expression.</span> <span m="205700">People</span> <span m="206200">don't</span> <span m="206600">typically</span> <span m="207320">have</span> <span m="207590">a</span> <span m="207650">boss</span> <span m="208340">looking</span> <span m="208770">over</span> <span m="208970">their</span> <span m="209100">shoulder,</span> <span m="209520">at</span> <span m="209600">least</span> <span m="209860">not</span> <span m="210070">in</span> <span m="210170">a</span> <span m="210230">physical</span> <span m="210640">sense.</span> <span m="211430">They</span> <span m="211880">have</span> <span m="212120">flexibility</span> <span m="212750">to</span> <span m="212860">work</span> <span m="213260">different</span> <span m="213640">hours,</span> <span m="214170">often</span> <span m="214530">from</span> <span m="214720">various</span> <span m="215130">locations,</span> <span m="215920">including</span> <span m="216690">their</span> <span m="216980">own</span> <span m="217080">home.</span> </p>
<p><span m="218230">But</span> <span m="218380">there</span> <span m="218520">are</span> <span m="218610">common</span> <span m="219040">reoccurring</span> <span m="219790">disadvantages</span> <span m="220540">to</span> <span m="220660">these</span> <span m="220900">modes</span> <span m="221170">of</span> <span m="221280">work</span> <span m="221510">as</span> <span m="221650">well.</span> <span m="222190">There</span> <span m="222530">are</span> <span m="222560">high</span> <span m="222850">levels</span> <span m="223240">of</span> <span m="223380">uncertainty</span> <span m="223950">and</span> <span m="224060">insecurity.</span> <span m="224940">You</span> <span m="225090">don't</span> <span m="225300">know</span> <span m="225450">whether</span> <span m="225690">you'll</span> <span m="225900">have</span> <span m="226280">work</span> <span m="226730">from</span> <span m="226920">one</span> <span m="227090">month</span> <span m="227350">to</span> <span m="227400">the</span> <span m="227510">next.</span> <span m="228170">You</span> <span m="228410">don't</span> <span m="228600">know</span> <span m="228770">who</span> <span m="228930">your</span> <span m="229300">next</span> <span m="229610">boss</span> <span m="229970">will</span> <span m="230090">be,</span> <span m="230420">whether</span> <span m="230710">they'll</span> <span m="230860">be</span> <span m="231000">fair</span> <span m="231340">and</span> <span m="231410">ethical,</span> <span m="231840">whether</span> <span m="232080">they'll</span> <span m="232280">pay</span> <span m="232630">in</span> <span m="232720">a</span> <span m="232810">timely</span> <span m="233220">way.</span> </p>
<p><span m="234280">If</span> <span m="234480">you</span> <span m="234570">have</span> <span m="234690">an</span> <span m="234780">issue</span> <span m="235120">with</span> <span m="235290">an</span> <span m="235380">employer,</span> <span m="235810">for</span> <span m="235980">example,</span> <span m="236510">withholding</span> <span m="237060">promised</span> <span m="237490">pay,</span> <span m="237720">it's</span> <span m="237890">often</span> <span m="238410">difficult</span> <span m="239140">to</span> <span m="239280">resolve</span> <span m="239680">these</span> <span m="239900">issues.</span> <span m="240610">There's</span> <span m="241150">broad,</span> <span m="241620">often</span> <span m="241990">global</span> <span m="242570">competition,</span> <span m="243490">which</span> <span m="243720">could</span> <span m="243840">put</span> <span m="244060">downward</span> <span m="244560">pressure</span> <span m="245080">on</span> <span m="245270">wages.</span> <span m="246060">So</span> <span m="246490">for</span> <span m="246660">example,</span> <span m="247300">when</span> <span m="247620">I</span> <span m="247730">hired</span> <span m="248210">this</span> <span m="249020">coder</span> <span m="249360">to</span> <span m="249440">help</span> <span m="249630">me</span> <span m="249720">with</span> <span m="249870">this</span> <span m="250050">freelancing</span> <span m="250560">project,</span> <span m="251120">he</span> <span m="251400">was</span> <span m="251590">competing</span> <span m="252080">against</span> <span m="252400">people</span> <span m="252900">located</span> <span m="253480">in</span> <span m="253620">China</span> <span m="253990">and</span> <span m="254170">India.</span> </p>
<p><span m="255050">There</span> <span m="255200">are</span> <span m="255250">other</span> <span m="255500">trade</span> <span m="255720">offs</span> <span m="255930">as</span> <span m="256060">well.</span> <span m="256380">There's</span> <span m="256600">isolation,</span> <span m="257290">a</span> <span m="257399">lack</span> <span m="257690">of</span> <span m="257810">pension</span> <span m="258430">and</span> <span m="258640">retirement,</span> <span m="259380">lack</span> <span m="259839">of</span> <span m="260140">paid</span> <span m="260519">vacation</span> <span m="261120">and</span> <span m="261230">time</span> <span m="261519">off,</span> <span m="262060">the</span> <span m="262340">need</span> <span m="262790">for</span> <span m="263120">continuous</span> <span m="263750">learning</span> <span m="264350">that</span> <span m="264650">can</span> <span m="264760">accommodate</span> <span m="265430">the</span> <span m="265520">diverse</span> <span m="265950">and</span> <span m="266100">changing</span> <span m="266600">needs</span> <span m="266950">of</span> <span m="267400">employers,</span> <span m="268360">and</span> <span m="268790">needing</span> <span m="269010">to</span> <span m="269160">finance</span> <span m="269790">the</span> <span m="269880">education</span> <span m="270540">out</span> <span m="270700">of</span> <span m="270790">your</span> <span m="270970">own</span> <span m="271090">pocket.</span> <span m="271790">In</span> <span m="272190">addition,</span> <span m="272780">many</span> <span m="273240">of</span> <span m="273290">these</span> <span m="273560">employees</span> <span m="274090">lack</span> <span m="274510">the</span> <span m="274870">protections</span> <span m="275860">that</span> <span m="276110">are</span> <span m="276290">traditionally</span> <span m="276870">afforded</span> <span m="277500">to</span> <span m="278230">workers</span> <span m="278910">under</span> <span m="279130">more</span> <span m="279340">stable</span> <span m="280100">employment</span> <span m="280780">contracts.</span> </p>
</div>
        <div id="vid_playlist" itemprop="description" class="tabContent hide">
<h2 class="subhead">Free Downloads</h2>
<h3 class="subsubhead">Video</h3>
<ul>
<li>iTunes U (<a href="https://itunes.apple.com/us/itunes-u/id1210098516">MP4 - 14MB</a>)</li>
<li>Internet Archive (<a href="https://archive.org/download/MITRES.15-003S16/MITRES_15_003S16_4-1-3_360p.mp4">MP4 - 14MB</a>)</li>
</ul>
<br><h3 class="subsubhead">Caption</h3>
<ul><li>English-US (<a href="../../../../../contents/new-emerging-models/new-firms-new-jobs-new-technology-and-the-future-of-work/video-emerging-forms-of-work/video-emerging-forms-of-work-0/xDoe1HvHfbM.srt">SRT</a>)</li></ul>
</div>
    
   </div>  



      					 
        <div class="" id="parent-fieldname-bottom_html_area">
            
            
        </div>
    
               </main><!--Course_inner_media tag close -->
</div>
<!--Course_wrapper tag close -->
            </div>
<!--left tag close -->
            <aside id="right"><!--Begin Right Portion --><div>
    



</div>

                	<div>
    



</div>


        <div class="" id="parent-fieldname-rsi_top_html_area">
            
            
        </div>
    

<!-- RSI google ad space-->


<div id="google_ads">    
    <script type="text/javascript" src="https://partner.googleadservices.com/gampad/google_service.js"></script><script type="text/javascript">GS_googleAddAdSenseService("ca-pub-6588555046597237");GS_googleEnableAllServices();</script><script type="text/javascript">GA_googleAddSlot("ca-pub-6588555046597237", "VIDEO_INDIVIDUAL_SLOT_A_DL");GA_googleAddSlot("ca-pub-6588555046597237", "VIDEO_INDIVIDUAL_SLOT_B_DL");GA_googleAddSlot("ca-pub-6588555046597237", "VIDEO_INDIVIDUAL_SLOT_C_DL");</script><script type="text/javascript">GA_googleFetchAds();</script><script language="javascript" type="text/javascript">
GA_googleAddAttr("TYPE","HOUSE");
GA_googleAddAttr("DEPARTMENT","RES");
GA_googleAddAttr("CRS_BEG2","15");
GA_googleAddAttr("CRS_END","-003");
GA_googleAddAttr("SESSION","S");
GA_googleAddAttr("YEAR","16");
</script><script type="text/javascript">GA_googleFillSlot("VIDEO_INDIVIDUAL_SLOT_A_DL");</script><script type="text/javascript">GA_googleFillSlot("VIDEO_INDIVIDUAL_SLOT_B_DL");</script><script type="text/javascript">GA_googleFillSlot("VIDEO_INDIVIDUAL_SLOT_C_DL");</script>
</div>

<!-- End RSI ads--> 

<div>
    



</div>

            </aside><!--Right div close --><div class="clear"></div>
        </div>
<!--grid tag close -->
      </div>
		
		<footer id="bottom"><div id="grid">
				
<div id="portletwrapper-6f63772e626f74746f6d706f72746c65746d616e616765720a636f6e746578740a2f506c6f6e650a736974652d666f6f746572" class="portletWrapper kssattr-portlethash-6f63772e626f74746f6d706f72746c65746d616e616765720a636f6e746578740a2f506c6f6e650a736974652d666f6f746572">
<div class="portletStaticText portlet-static-site-footer"><div id="footer">
<nav aria-label="Footer"><nav id="foot-c1" class="grid_2 alpha" aria-labelledby="f-find-courses"><span class="footer" id="f-find-courses" aria-hidden="true">Find Courses</span>
<ul class="foot-bullet" role="presentation">
<li><a href="https://ocw.mit.edu/courses/find-by-topic/">Find by Topic</a></li>
    <li><a href="https://ocw.mit.edu/courses/find-by-number/">Find by Course Number</a></li>
    <li><a href="https://ocw.mit.edu/courses/find-by-department/">Find by Department</a></li>
    <li><a href="https://ocw.mit.edu/courses/new-courses/">New Courses</a></li>
    <li><a href="https://ocw.mit.edu/courses/most-visited-courses/">Most Visited Courses</a></li>
    <li><a href="https://ocw.mit.edu/courses/ocw-scholar/">OCW Scholar Courses</a></li>
    <li><a href="https://ocw.mit.edu/courses/audio-video-courses/">Audio/Video Courses</a></li>
    <li><a href="https://ocw.mit.edu/courses/online-textbooks/">Online Textbooks</a></li>
    <li><a href="https://ocw.mit.edu/courses/instructor-insights/">Instructor Insights</a></li>
    <li><a href="https://ocw.mit.edu/resources/">Supplemental Resources</a></li>
    <li><a href="https://ocw.mit.edu/courses/mitx-related-courseware/">MITx &amp; Related OCW Courses</a></li>
    <li><a href="https://ocw.mit.edu/courses/translated-courses/">Translated Courses</a></li>
</ul></nav><div id="foot-c2" class="grid_2"><nav aria-labelledby="f-for-educators"><span id="f-for-educators" class="footer" aria-hidden="true">For Educators</span>
<ul class="foot-bullet" role="presentation">
<li><a href="https://ocw.mit.edu/educator/?view=instructional&amp;utm_campaign=Educator&amp;utm_source=footer&amp;utm_medium=find-courses&amp;utm_content=approaches">Search for Instructor Insights</a></li>
    <li><a href="https://ocw.mit.edu/educator/?view=teaching&amp;utm_campaign=Educator&amp;utm_source=footer&amp;utm_medium=find-courses&amp;utm_content=materials">Search for Teaching Materials</a></li>
    <li><a href="https://ocw.mit.edu/courses/instructor-insights/">Instructor Insights by Department</a></li>
    <li><a href="https://ocw.mit.edu/courses/find-by-topic/#cat=teachingandeducation">MIT Courses about Teaching and Education</a></li>
    <li><a href="https://ocw.mit.edu/high-school/">Highlights for High School</a></li>
    <li><a href="http://k12videos.mit.edu" aria-label="External Link: MIT+K12 Videos">MIT+K12 Videos</a></li>
    <li><a href="http://teachingexcellence.mit.edu/" aria-label="External Link: Teaching Excellence at MIT">Teaching Excellence at MIT</a></li>
    <li><a href="https://ocw.mit.edu/courses/mit-curriculum-guide/">MIT Undergraduate Curriculum Map</a></li>
</ul></nav></div>
<nav class="grid_2" id="foot-c3" aria-labelledby="f-donate"><span id="f-donate" class="footer" aria-hidden="true">Give Now</span>
<ul class="foot-bullet" role="presentation">
<li><a href="https://ocw.mit.edu/give/">Make a Donation</a></li>
    <li><a href="https://ocw.mit.edu/give/why-give/">Why Give?</a></li>
    <li><a href="https://ocw.mit.edu/give/our-supporters/">Our Supporters</a></li>
    <li><a href="https://ocw.mit.edu/give/other-ways-to-contribute/">Other Ways to Contribute</a></li>
    <li><a href="https://ocw.mit.edu/give/shop-ocw/">Shop OCW</a></li>
    <li><a href="https://ocw.mit.edu/support/">Become a Corporate Sponsor</a></li>
</ul></nav><div class="grid_2" id="foot-c4">
<nav aria-labelledby="f-about"><span id="f-about" class="footer" aria-hidden="true">About</span>
<ul class="foot-bullet" role="presentation">
<li><a href="https://ocw.mit.edu/about/">About OpenCourseWare</a></li>
    <li><a href="https://ocw.mit.edu/about/site-statistics/">Site Statistics</a></li>
    <li><a href="https://ocw.mit.edu/about/ocw-stories/">OCW Stories</a></li>
    <li><a href="https://ocw.mit.edu/about/newsletter/">News</a></li>
    <li><a href="https://ocw.mit.edu/about/media-coverage/press-releases/">Press Releases</a></li>
</ul></nav><!--about--><nav aria-labelledby="f-tools"><span id="f-tools" class="footer" aria-hidden="true">Tools</span>
<ul class="foot-bullet" role="presentation">
<li><a href="https://ocw.mit.edu/help/">Help &amp; FAQs</a></li>
    <li><a href="../../../../../common/jsp/feedback.htm">Contact Us</a></li>
    <li><a href="https://ocw.mit.edu/help/site-map/">Site Map</a></li>
    <li><a href="../../../../../common/terms/index.htm">Privacy &amp; Terms of Use</a></li>
    <li><a href="https://ocw.mit.edu/help/rss/">RSS Feeds</a></li>
</ul></nav><!--tools-->
</div>
</nav><aside style="min-height: 289px;" aria-labelledby="f-our-corporate-supporters" class="grid_4 omega" id="foot-c5"><span aria-hidden="true" class="footer" id="f-our-corporate-supporters">Our Corporate Supporters</span>           <!-- HOME_CORP_LOGO_1 -->
<div id="div-gpt-ad-1388181177156-0" class="sponsors_google_ads_even"><script type="text/javascript">
              googletag.cmd.push(function() { googletag.display('div-gpt-ad-1388181177156-0'); });
            </script></div>
<!-- HOME_CORP_LOGO_2 -->
<div id="div-gpt-ad-1388181177156-1" class="sponsors_google_ads_odd"><script type="text/javascript">
              googletag.cmd.push(function() { googletag.display('div-gpt-ad-1388181177156-1'); });
            </script></div>
<!-- HOME_CORP_LOGO_3 -->
<div id="div-gpt-ad-1388181177156-2" class="sponsors_google_ads_even"><script type="text/javascript">
              googletag.cmd.push(function() { googletag.display('div-gpt-ad-1388181177156-2'); });
            </script></div>
<!-- HOME_CORP_LOGO_4 -->
<div id="div-gpt-ad-1388181177156-3" class="sponsors_google_ads_odd"><script type="text/javascript">
              googletag.cmd.push(function() { googletag.display('div-gpt-ad-1388181177156-3'); });
            </script></div>
<!-- HOME_CORP_LOGO_5 -->
<div id="div-gpt-ad-1388181177156-4" class="sponsors_google_ads_even"><script type="text/javascript">
              googletag.cmd.push(function() { googletag.display('div-gpt-ad-1388181177156-4'); });
              </script></div>
<!-- HOME_CORP_LOGO_6 -->
<div id="div-gpt-ad-1388181177156-5" class="sponsors_google_ads_odd"><script type="text/javascript">
              googletag.cmd.push(function() { googletag.display('div-gpt-ad-1388181177156-5'); });
              </script></div>
</aside><div class="grid_12 alpha omega" itemprop="publisher" itemscope="" itemtype="http://schema.org/CollegeOrUniversity">
<h4 class="footer" style="border-top: thin solid #d5c9ba; padding-top: 10px; margin-bottom: 10px;">About <span itemprop="name">MIT OpenCourseWare</span>
</h4>
<p style="color: #999; font-size: 1em; line-height: 1.5em; margin-top: 10px;" itemprop="description">MIT OpenCourseWare makes the materials used in the teaching of almost all of MIT's subjects available on the Web, free of charge. With more than 2,400 courses available, OCW is delivering on the promise of open sharing of knowledge. <a href="http://ocw.mit.edu/about/">Learn more »</a></p>
</div>
<div id="foot-copy" class="grid_12 alpha omega" style="border-top: none;">
<a href="http://web.mit.edu"><img src="../../../../../common/images/logo_mit.png" alt="Massachusetts Institute of Technology logo and name." style="width: 195; height: 44;"></a><a href="http://odl.mit.edu"><img src="https://ocw.mit.edu/images/logo_odl.png" alt="MIT Office of Digital Learning logo and name." style="width: 289; height: 54; vertical-align: top;"></a><a href="http://www.oeconsortium.org/"><img src="https://ocw.mit.edu/images/logo_oec.png" alt="Open Education Consortium logo." style="width: 219px; height: 59px; vertical-align: top;"></a><a rel="license" itemprop="useRightsUrl" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img src="../../../../../common/images/cc_by-nc-sa.png" alt="Creative Commons logo with terms BY-NC-SA." style="width: 126px; height: 44px; margin-right: 0; margin-left: 13px;"></a>
<p class="copyright">© 2001–2018<br>
Massachusetts Institute of Technology</p>
<p style="font-size: 0.9em; margin-bottom: 15px;">Your use of the MIT OpenCourseWare site and materials is subject to our <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" rel="license">Creative Commons License</a> and other <a href="../../../../../common/terms/index.htm" rel="cc:morePermissions">terms of use</a>.</p>
</div>
</div></div>

</div>





                
			</div> <!-- bottom grid end -->
		</footer><!-- footer bottom end -->
</body>
</html>
