<html>
<head>
<title>Fun with Arithmetic</title>
</head>

<body bgcolor=#ffffff text=#000000>
<h2>Fun with Arithmetic</h2>
<hr>

<ul>

<!-- here's an example of evaluating a Tcl expression and using the result
immediately in the page (the = sign is the key) -->

<li>Two plus two is 4

<li>This AOLserver is running version 8.3 of Tcl.



<li>The first element of <code>{{Lake Malawi Cichlid} 5000} {{Saltwater Community} 7000} {Reef 10000} {{Planted Freshwater} 6000} {{Suspended-in-midair Stingray Pond} 45000}</code> is 
<code>{Lake Malawi Cichlid} 5000</code>

<li>Here are some aquarium plans for the new building:
  <ul>

<li>Lake Malawi Cichlid will cost $5000

<li>Saltwater Community will cost $7000

<li>Reef will cost $10000

<li>Planted Freshwater will cost $6000

<li>Suspended-in-midair Stingray Pond will cost $45000

<p>
<li>Total:  $73000

</ul>

</ul>


<hr></body>
</html>
